<header>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">dispatcher</a>

        <ul>
          <li {{ page.homeactive }}><a href="{{ site.baseurl }}/">Home</a></li>
          <li {{ page.rubyactive }}><a href="{{ site.baseurl }}/ruby/">Ruby</a></li>
          <li {{ page.pythonactive }}><a href="{{ site.baseurl }}/python/">Python</a></li>
          <li {{ page.javascriptactive }}><a href="{{ site.baseurl }}/javascript/">JavaScript</a></li>
          <li {{ page.javaactive }}><a href="{{ site.baseurl }}/java/">Java</a></li>
        </ul>
    </div>
</div>
</header>
