<li><a href='https://github.com/SpigotMC/BungeeCord'>BungeeCord</a> BungeeCord, the 6th in a generation of server portal suites. Efficiently proxies and maintains connections and transport between multiple Minecraft servers. </li>
<li><a href='https://github.com/martypitt/swagger-springmvc'>swagger-springmvc</a> Spring MVC integration for Swagger </li>
<li><a href='https://github.com/sk89q/worldguard'>worldguard</a> Protect Minecraft servers, protect areas, and solve problems </li>
<li><a href='https://github.com/thymeleaf/thymeleaf'>thymeleaf</a> Thymeleaf is a java web template engine designed for XML/XHTML/HTML5. </li>
<li><a href='https://github.com/rtyley/agit'>agit</a> Agit - Git client for Android </li>
<li><a href='https://github.com/square/okhttp'>okhttp</a> An HTTP+SPDY client for Android and Java applications. </li>
<li><a href='https://github.com/spring-projects/spring-boot'>spring-boot</a> Spring Boot </li>
<li><a href='https://github.com/gwtbootstrap/gwt-bootstrap'>gwt-bootstrap</a> A GWT Library that provides the widgets of Bootstrap, from Twitter. </li>
<li><a href='https://github.com/reactor/reactor'>reactor</a> Reactor - a foundation for reactive fastdata applications on the JVM </li>
<li><a href='https://github.com/nasa/mct'>mct</a> Mission Control Technologies is a real-time monitoring and visualization platform. See an overview and demo at http://sites.google.com/site/openmct. Download MCT plugins at https://github.com/nasa/MCT-Plugins. </li>
<li><a href='https://github.com/square/dagger'>dagger</a> A fast dependency injector for Android and Java. </li>
<li><a href='https://github.com/NanoHttpd/nanohttpd'>nanohttpd</a> Tiny, easily embeddable HTTP server in Java </li>
<li><a href='https://github.com/koush/AndroidAsync'>AndroidAsync</a> Asynchronous socket, http (client+server), websocket, and socket.io library for android. Based on nio, not threads. </li>
<li><a href='https://github.com/joscha/play-authenticate'>play-authenticate</a> An authentication plugin for Play Framework 2.x (Java) </li>
<li><a href='https://github.com/impetus-opensource/Kundera'>Kundera</a> A JPA 2.0 compliant Object-Datastore Mapping Library for NoSQL Datastores. Please subscribe to:  </li>
<li><a href='https://github.com/zeromq/jzmq'>jzmq</a> Java binding for ØMQ  </li>
<li><a href='https://github.com/qos-ch/logback'>logback</a> The reliable, generic, fast and flexible logging framework for Java. </li>
<li><a href='https://github.com/plutext/docx4j'>docx4j</a> JAXB-based Java library for Word docx, Powerpoint pptx, and Excel xlsx files </li>
<li><a href='https://github.com/graphhopper/graphhopper'>graphhopper</a> Fast Java routing engine for roads and more. GraphHopper is OpenSource and uses OpenStreetMap. #routeplanner </li>
<li><a href='https://github.com/leachim6/hello-world'>hello-world</a> Hello world in every programming language. If I can't automatically merge your changes on github, I'm not merging them :) </li>
<li><a href='https://github.com/MassiveCraft/Factions'>Factions</a> Guilding and usercontrolled antigrief plugin for Minecraft </li>
<li><a href='https://github.com/EsotericSoftware/kryo'>kryo</a> Java serialization and cloning: fast, efficient, automatic </li>
<li><a href='https://github.com/spring-projects/spring-data-neo4j'>spring-data-neo4j</a> Provides support to increase developer productivity in Java when using the neo4j graph database. Uses familiar Spring concepts such as a template classes for core API usage and provides an annotation based programming model using AspectJ </li>
<li><a href='https://github.com/couchbase/couchbase-lite-android'>couchbase-lite-android</a> Lightweight, embedded, syncable NoSQL database engine for Android. </li>
<li><a href='https://github.com/abarisain/dmix'>dmix</a> Fork of pmix that allows streaming (and now much more) </li>
<li><a href='https://github.com/hibernate/hibernate-orm'>hibernate-orm</a> Hibernate's core Object/Relational Mapping functionality </li>
<li><a href='https://github.com/ccidral/tomighty'>tomighty</a> A nice desktop timer app for Pomodoro Technique users </li>
<li><a href='https://github.com/jackpal/Android-Terminal-Emulator'>Android-Terminal-Emulator</a> A VT-100 terminal emulator for the Android OS </li>
<li><a href='https://github.com/ratpack/ratpack'>ratpack</a> A toolkit for JVM web applications </li>
<li><a href='https://github.com/PEXPlugins/PermissionsEx'>PermissionsEx</a> PermissionsEx Plugin for bukkit </li>
