<li><a href='https://github.com/mozilla/localForage'>localForage</a> Offline storage, improved. Wraps IndexedDB, WebSQL, or localStorage using a simple but powerful API. </li>
<li><a href='https://github.com/fnando/i18n-js'>i18n-js</a> It's a small library to provide the I18n translations on the Javascript. It comes with Rails support. </li>
<li><a href='https://github.com/jakearchibald/es6-promise'>es6-promise</a> A polyfill for ES6-style Promises </li>
<li><a href='https://github.com/kkga/spacegray'>spacegray</a> A Hyperminimal UI Theme for Sublime Text </li>
<li><a href='https://github.com/FredrikNoren/ungit'>ungit</a> The easiest way to use git. On any platform. Anywhere. </li>
<li><a href='https://github.com/bramp/js-sequence-diagrams'>js-sequence-diagrams</a> Draws simple SVG sequence diagrams from textual representation of the diagram </li>
<li><a href='https://github.com/guardian/scribe'>scribe</a> A rich text editor framework for the web platform </li>
<li><a href='https://github.com/clappr/clappr'>clappr</a> :clapper: An extensible media player for the web </li>
<li><a href='https://github.com/este/este'>este</a> Dev stack and starter kit for functional and universal (browser, server, mobile) React web apps </li>
<li><a href='https://github.com/casesandberg/react-color'>react-color</a> Color Pickers from Sketch, Photoshop, Chrome & more </li>
<li><a href='https://github.com/stampit-org/stampit'>stampit</a> OOP is better with stamps: Composable object factories. </li>
<li><a href='https://github.com/a8m/angular-filter'>angular-filter</a>  Bunch of useful filters for AngularJS (with no external dependencies!) </li>
<li><a href='https://github.com/pegjs/pegjs'>pegjs</a> PEG.js: Parser generator for JavaScript </li>
<li><a href='https://github.com/addyosmani/basket.js'>basket.js</a> A script and resource loader for caching & loading files with localStorage </li>
<li><a href='https://github.com/Voog/wysihtml'>wysihtml</a> Open source rich text editor for the modern web </li>
<li><a href='https://github.com/segmentio/nightmare'>nightmare</a> A high-level browser automation library. </li>
<li><a href='https://github.com/sockjs/sockjs-client'>sockjs-client</a> WebSocket emulation - Javascript client </li>
<li><a href='https://github.com/rdio/jsfmt'>jsfmt</a> For formatting, searching, and rewriting JavaScript. </li>
<li><a href='https://github.com/liabru/jquery-match-height'>jquery-match-height</a> a responsive equal heights plugin for jQuery </li>
<li><a href='https://github.com/brianchirls/Seriously.js'>Seriously.js</a> A real-time, node-based video effects compositor for the web built with HTML5, Javascript and WebGL </li>
<li><a href='https://github.com/likeastore/ngDialog'>ngDialog</a> Modals and popups provider for Angular.js applications </li>
<li><a href='https://github.com/jspm/jspm-cli'>jspm-cli</a> Package management CLI </li>
<li><a href='https://github.com/qTip2/qTip2'>qTip2</a> qTip2 - Pretty powerful tooltips </li>
<li><a href='https://github.com/royrusso/elasticsearch-HQ'>elasticsearch-HQ</a> Monitoring and Management Web Application for ElasticSearch instances and clusters. </li>
<li><a href='https://github.com/SBoudrias/Inquirer.js'>Inquirer.js</a> A collection of common interactive command line user interfaces. </li>
<li><a href='https://github.com/creationix/js-git'>js-git</a> A JavaScript implementation of Git. </li>
<li><a href='https://github.com/jackocnr/intl-tel-input'>intl-tel-input</a> A jQuery plugin for entering and validating international telephone numbers </li>
<li><a href='https://github.com/victorquinn/chancejs'>chancejs</a> Chance - Random generator helper for JavaScript </li>
<li><a href='https://github.com/chaijs/chai'>chai</a> BDD / TDD assertion framework for node.js and the browser that can be paired with any testing framework. </li>
<li><a href='https://github.com/soulwire/sketch.js'>sketch.js</a> Cross-Platform JavaScript Creative Coding Framework </li>
