<li><a href='https://github.com/brianleroux/lawnchair'>lawnchair</a> A lightweight clientside JSON document store, </li>
<li><a href='https://github.com/jpillora/xdomain'>xdomain</a> A pure JavaScript CORS alternative </li>
<li><a href='https://github.com/Mottie/tablesorter'>tablesorter</a> Github fork of Christian Bach's tablesorter plugin + awesomeness ~ </li>
<li><a href='https://github.com/clu3/bootstro.js'>bootstro.js</a> Tiny JS library using bootstrap's popover to help guide your users around </li>
<li><a href='https://github.com/aFarkas/webshim'>webshim</a> Webshims Lib is a modular capability-based polyfill-loading library </li>
<li><a href='https://github.com/stefanpenner/ember-cli'>ember-cli</a>  </li>
<li><a href='https://github.com/flowjs/flow.js'>flow.js</a> A JavaScript library providing multiple simultaneous, stable, fault-tolerant and resumable/restartable file uploads via the HTML5 File API. </li>
<li><a href='https://github.com/ebidel/filer.js'>filer.js</a> A wrapper library for the HTML5 Filesystem API what reuses UNIX commands (cp, mv, ls) for its API. </li>
<li><a href='https://github.com/arachnys/cabot'>cabot</a> Self-hosted, easily-deployable monitoring and alerts service - like a lightweight PagerDuty </li>
<li><a href='https://github.com/emmetio/emmet'>emmet</a> The essential toolkit for web-developers </li>
<li><a href='https://github.com/trentm/node-bunyan'>node-bunyan</a> a simple and fast JSON logging module for node.js services </li>
<li><a href='https://github.com/witoldsz/angular-http-auth'>angular-http-auth</a>  </li>
<li><a href='https://github.com/winjs/winjs'>winjs</a> WinJS project by Microsoft Open Technologies </li>
<li><a href='https://github.com/craftyjs/Crafty'>Crafty</a> JavaScript Game Engine </li>
<li><a href='https://github.com/mduvall/grande.js'>grande.js</a> It's a Medium at Starbucks. Pinky ring out. </li>
<li><a href='https://github.com/GitbookIO/editor'>editor</a> Editor for writing books using GitBook (for Windows, Mac and Linux) </li>
<li><a href='https://github.com/peers/peerjs'>peerjs</a> Peer-to-peer data in the browser. </li>
<li><a href='https://github.com/CreateJS/SoundJS'>SoundJS</a> A Javascript library for working with Audio. Features a simple interface as the front end to multiple audio APIs via a plugin model. Currently supports WebAudio, HTML5 Audio, & a Flash fallback. </li>
<li><a href='https://github.com/Fooidge/PleaseJS'>PleaseJS</a> JavaScript Library for creating random pleasing colors and color schemes </li>
<li><a href='https://github.com/Marak/Faker.js'>Faker.js</a> generate massive amounts of fake data in Node.js and the browser </li>
<li><a href='https://github.com/balanced/balanced-dashboard'>balanced-dashboard</a> The Balanced dashboard. </li>
<li><a href='https://github.com/google/google-api-nodejs-client'>google-api-nodejs-client</a> Google's officially supported Node.js client library for accessing Google APIs, it comes with OAuth 2.0 support. </li>
<li><a href='https://github.com/tripit/slate'>slate</a> Beautiful static documentation for your API </li>
<li><a href='https://github.com/garand/sticky'>sticky</a> jQuery Plugin for Sticky Objects </li>
<li><a href='https://github.com/nolimits4web/Framework7'>Framework7</a> Full Featured HTML Framework For Building iOS7 Apps </li>
<li><a href='https://github.com/gnab/remark'>remark</a> A simple, in-browser, markdown-driven slideshow tool. </li>
<li><a href='https://github.com/ciaranj/node-oauth'>node-oauth</a> OAuth wrapper for node.js </li>
<li><a href='https://github.com/aheckmann/gm'>gm</a> GraphicsMagick for node </li>
<li><a href='https://github.com/flatiron/director'>director</a> a tiny and isomorphic URL router for JavaScript </li>
<li><a href='https://github.com/eslint/eslint'>eslint</a> A fully pluggable tool for identifying and reporting on patterns in JavaScript. </li>
