<li><a href='https://github.com/suitcss/suit'>suit</a> CSS for building self-contained, composable, configurable UI components </li>
<li><a href='https://github.com/visionmedia/page.js'>page.js</a> Micro client-side router inspired by the Express router (~1200 bytes) </li>
<li><a href='https://github.com/airportyh/testem'>testem</a> Test'em 'Scripts! A test runner that makes Javascript unit testing fun. </li>
<li><a href='https://github.com/linkedin/dustjs'>dustjs</a> Asynchronous templates for the browser and node.js </li>
<li><a href='https://github.com/hoodiehq/hoodie.js'>hoodie.js</a> hoodie super power to the frontend! </li>
<li><a href='https://github.com/Reactive-Extensions/RxJS'>RxJS</a> The Reactive Extensions for JavaScript </li>
<li><a href='https://github.com/yahoo/mojito'>mojito</a> Yahoo! Mojito Framework </li>
<li><a href='https://github.com/backbone-paginator/backbone.paginator'>backbone.paginator</a> Backbone.Paginator is a pagination component for Backbone.js. </li>
<li><a href='https://github.com/noraesae/perfect-scrollbar'>perfect-scrollbar</a> Tiny but perfect jQuery scrollbar plugin </li>
<li><a href='https://github.com/amsul/pickadate.js'>pickadate.js</a> The mobile-friendly, responsive, and lightweight jQuery date & time input picker. </li>
<li><a href='https://github.com/louischatriot/nedb'>nedb</a> Embedded datastore for node.js </li>
<li><a href='https://github.com/substack/node-browserify'>node-browserify</a> browser-side require() the node.js way </li>
<li><a href='https://github.com/SachaG/Telescope'>Telescope</a> HN clone built in Meteor </li>
<li><a href='https://github.com/jackmoore/autosize'>autosize</a> jQuery plugin for dynamic textarea sizing </li>
<li><a href='https://github.com/mudcube/MIDI.js'>MIDI.js</a> Making life easy to create a MIDI-app on the web. Includes a library to program synesthesia into your app for memory recognition or for creating trippy effects. Convert soundfonts for Guitar, Bass, Drums, ect. into code that can be read by the browser. Supports multiple simultaneous instruments and perfect timing. </li>
<li><a href='https://github.com/joliss/broccoli'>broccoli</a> Browser compilation library – a build tool for applications that run in the browser </li>
<li><a href='https://github.com/unconed/MathBox.js'>MathBox.js</a> MathBox is a (work in progress) library for making presentation-quality math diagrams in WebGL. </li>
<li><a href='https://github.com/rnmp/salvattore'>salvattore</a> A jQuery Masonry alternative with CSS-driven configuration. </li>
<li><a href='https://github.com/linkedin/hopscotch'>hopscotch</a> A framework to make it easy for developers to add product tours to their pages. </li>
<li><a href='https://github.com/clu3/bootstro.js'>bootstro.js</a> Tiny JS library taking advantage of bootstrap's popover to help guide your users around </li>
<li><a href='https://github.com/mgonto/restangular'>restangular</a> AngularJS service to handle Rest API Restful Resources properly and easily </li>
<li><a href='https://github.com/adobe-research/theseus'>theseus</a> A pretty darn cool JavaScript debugger for Brackets </li>
<li><a href='https://github.com/tildeio/rsvp.js'>rsvp.js</a> A lightweight library that provides tools for organizing asynchronous code </li>
<li><a href='https://github.com/mikeric/rivets'>rivets</a> Lightweight and powerful data binding + templating solution </li>
<li><a href='https://github.com/twitter/twitter-text-js'>twitter-text-js</a> A JavaScript implementation of Twitter's text processing library </li>
<li><a href='https://github.com/prerender/prerender'>prerender</a> Node server that uses phantomjs to render a javascript-rendered page as HTML. To be used in conjunction with prerender middleware. </li>
<li><a href='https://github.com/designcreateplay/NodeBB'>NodeBB</a> Node.js based forum software built for the modern web </li>
<li><a href='https://github.com/wellcaffeinated/PhysicsJS'>PhysicsJS</a> A modular, extendable, and easy-to-use physics engine for javascript </li>
<li><a href='https://github.com/Mottie/tablesorter'>tablesorter</a> Github fork of Christian Bach's tablesorter plugin + awesomeness ~ </li>
<li><a href='https://github.com/adambom/parallel.js'>parallel.js</a> Parallel.js is a tiny library for multi-core processing in Javascript. </li>
