<li><a href='https://github.com/liquibase/liquibase'>liquibase</a> Main Liquibase Source </li>
<li><a href='https://github.com/ervandew/eclim'>eclim</a> Expose eclipse features inside of vim. </li>
<li><a href='https://github.com/yui/yuicompressor'>yuicompressor</a> YUI Compressor </li>
<li><a href='https://github.com/pardom/ActiveAndroid'>ActiveAndroid</a> Active record style SQLite persistence for Android </li>
<li><a href='https://github.com/SlimeKnights/TinkersConstruct'>TinkersConstruct</a> Tinker a little, build a little, tinker a little more... </li>
<li><a href='https://github.com/naver/yobi'>yobi</a> Project hosting software </li>
<li><a href='https://github.com/square/dagger'>dagger</a> A fast dependency injector for Android and Java. </li>
<li><a href='https://github.com/JakeWharton/DiskLruCache'>DiskLruCache</a> Java implementation of a Disk-based LRU cache which specifically targets Android compatibility. </li>
<li><a href='https://github.com/Netflix/Hystrix'>Hystrix</a> Hystrix is a latency and fault tolerance library designed to isolate points of access to remote systems, services and 3rd party libraries, stop cascading failure and enable resilience in complex distributed systems where failure is inevitable. </li>
<li><a href='https://github.com/dynjs/dynjs'>dynjs</a> ECMAScript runtime for the JVM </li>
<li><a href='https://github.com/facebook/swift'>swift</a> Swift is an easy-to-use, annotation-based Java library for creating Thrift serializable types and services. </li>
<li><a href='https://github.com/graphhopper/graphhopper'>graphhopper</a> Fast road routing library and server. Written in Java and uses OpenStreetMap. #route #planner </li>
<li><a href='https://github.com/flori/json'>json</a> JSON implementation for Ruby </li>
<li><a href='https://github.com/square/spoon'>spoon</a> Distributing instrumentation tests to all your Androids. </li>
<li><a href='https://github.com/zeroturnaround/zt-zip'>zt-zip</a> ZeroTurnaround ZIP Library </li>
<li><a href='https://github.com/ratpack/ratpack'>ratpack</a> A toolkit for JVM web applications </li>
<li><a href='https://github.com/spring-projects/spring-loaded'>spring-loaded</a> Java agent that enables class reloading in a running JVM </li>
<li><a href='https://github.com/MasDennis/Rajawali'>Rajawali</a> Android OpenGL ES 2.0 Engine </li>
<li><a href='https://github.com/aws/aws-sdk-java'>aws-sdk-java</a> Official mirror of the AWS SDK for Java. For more information on the AWS SDK for Java, see our web site: </li>
<li><a href='https://github.com/hamcrest/JavaHamcrest'>JavaHamcrest</a> Java (and original) version of Hamcrest </li>
<li><a href='https://github.com/erikwt/PullToRefresh-ListView'>PullToRefresh-ListView</a> A generic, customizable, open source Android ListView implementation that has 'Pull to Refresh' functionality. </li>
<li><a href='https://github.com/javaee-samples/javaee7-samples'>javaee7-samples</a> Java EE 7 Samples </li>
<li><a href='https://github.com/AndlyticsProject/andlytics'>andlytics</a> Google Play - Android Market statistics app </li>
<li><a href='https://github.com/jankotek/MapDB'>MapDB</a> MapDB provides concurrent Maps, Sets and Queues backed by disk storage or off-heap-memory. It is a fast and easy to use embedded Java database engine. </li>
<li><a href='https://github.com/joelittlejohn/jsonschema2pojo'>jsonschema2pojo</a> Generates Java types from JSON Schema (or example JSON) and annotates those types for data-binding with Jackson 1.x or 2.x, Gson, etc </li>
<li><a href='https://github.com/hector-client/hector'>hector</a> a high level client for cassandra </li>
<li><a href='https://github.com/github/maven-plugins'>maven-plugins</a> Official GitHub Maven Plugins </li>
<li><a href='https://github.com/droolsjbpm/drools'>drools</a> Drools Expert is the rule engine and Drools Fusion does complex event processing (CEP). </li>
<li><a href='https://github.com/jline/jline2'>jline2</a> The new Jline </li>
<li><a href='https://github.com/chrisjenx/Calligraphy'>Calligraphy</a> Custom fonts in Android the easy way... </li>
