<li><a href='https://github.com/resty-gwt/resty-gwt'>resty-gwt</a> Like GWT-RPC but with REST/JSON coolness </li>
<li><a href='https://github.com/yui/yuicompressor'>yuicompressor</a> YUI Compressor </li>
<li><a href='https://github.com/couchbase/couchbase-lite-android'>couchbase-lite-android</a> Lightweight, embedded, syncable NoSQL database engine for Android. </li>
<li><a href='https://github.com/cbeust/jcommander'>jcommander</a> Command line parsing framework for Java </li>
<li><a href='https://github.com/sirthias/parboiled'>parboiled</a> Elegant parsing in Java and Scala - lightweight, easy-to-use, powerful. </li>
<li><a href='https://github.com/qos-ch/slf4j'>slf4j</a> Simple Logging Facade for Java </li>
<li><a href='https://github.com/Netflix/exhibitor'>exhibitor</a> ZooKeeper co-process for instance monitoring, backup/recovery, cleanup and visualization. </li>
<li><a href='https://github.com/sk89q/worldguard'>worldguard</a> Protect Minecraft servers, protect areas, and solve problems </li>
<li><a href='https://github.com/xplodwild/android_packages_apps_Focal'>android_packages_apps_Focal</a> Open Source Android Camera App | don't forget android_external_Focal repo </li>
<li><a href='https://github.com/dcaoyuan/nbscala'>nbscala</a> NetBeans Plugin for Scala </li>
<li><a href='https://github.com/mozilla/MozStumbler'>MozStumbler</a> Android Stumbler for Mozilla </li>
<li><a href='https://github.com/metamx/druid'>druid</a> Real²time Exploratory Analytics on Large Datasets </li>
<li><a href='https://github.com/OnlyInAmerica/OpenSpritz-Android'>OpenSpritz-Android</a> OpenSpritz concept for Android. </li>
<li><a href='https://github.com/sarxos/webcam-capture'>webcam-capture</a> Project goal is to give users possibility to access build-in or connected via USB webcams or remote IP / network cameras directly from Java code. Using provided libraries user is able to read camera images and detect motion. Main project consist of several sub projects - the root one, which contains required classes, build-in webcam driver compatible with Windows, Linux and Mac OS, which can stream images as fast as your camera can serve them (up to 50 FPS). Main project can be used standalone, but user is able to replace build-in driver with different one - such as OpenIMAJ, GStreamer, V4L4j, JMF, LTI-CIVIL, FMJ, etc. </li>
<li><a href='https://github.com/mariotaku/twidere'>twidere</a> Twitter client for Android </li>
<li><a href='https://github.com/kevinweil/elephant-bird'>elephant-bird</a> Twitter's collection of LZO and Protocol Buffer-related Hadoop, Pig, Hive, and HBase code. </li>
<li><a href='https://github.com/crashub/crash'>crash</a> Common ReusAble SHell </li>
<li><a href='https://github.com/BuildCraft/BuildCraft'>BuildCraft</a> BuildCraft </li>
<li><a href='https://github.com/chrislacy/TweetLanes'>TweetLanes</a> Tweet Lanes for Android </li>
<li><a href='https://github.com/Netflix/ice'>ice</a> AWS Usage Tool </li>
<li><a href='https://github.com/AndlyticsProject/andlytics'>andlytics</a> Google Play - Android Market statistics app </li>
<li><a href='https://github.com/mendhak/gpslogger'>gpslogger</a> Lightweight GPS Logging Application For Android. Available on the Android Market as "GPSLogger for Android" </li>
<li><a href='https://github.com/geometer/FBReaderJ'>FBReaderJ</a> Official FBReaderJ project repository </li>
<li><a href='https://github.com/spring-projects/spring-security'>spring-security</a>  </li>
<li><a href='https://github.com/caelum/caelum-stella'>caelum-stella</a> O Caelum Stella visa suprir as necessidades do dia a dia do desenvolvedor brasileiro </li>
<li><a href='https://github.com/abarisain/dmix'>dmix</a> Fork of pmix that allows streaming (and now much more) </li>
<li><a href='https://github.com/LWJGL/lwjgl'>lwjgl</a> LWJGL 2.X - The Lightweight Java Game Library. </li>
<li><a href='https://github.com/linkedin/sensei'>sensei</a> distributed realtime searchable database </li>
<li><a href='https://github.com/VoltDB/voltdb'>voltdb</a> VoltDB </li>
<li><a href='https://github.com/datastax/java-driver'>java-driver</a> DataStax Java Driver for Apache Cassandra </li>
