<li><a href='https://github.com/cydrobolt/polr'>polr</a> :aerial_tramway: A modern, minimalist, and lightweight URL shortener </li>
<li><a href='https://github.com/beberlei/DoctrineExtensions'>DoctrineExtensions</a> A set of Doctrine 2 extensions </li>
<li><a href='https://github.com/mantisbt/mantisbt'>mantisbt</a> Mantis Bug Tracker (MantisBT) </li>
<li><a href='https://github.com/appserver-io/appserver'>appserver</a> A multithreaded application server for PHP, written in PHP. </li>
<li><a href='https://github.com/tedious/Stash'>Stash</a> The place to keep your cache. </li>
<li><a href='https://github.com/bobthecow/psysh'>psysh</a> A REPL for PHP </li>
<li><a href='https://github.com/giorgiosironi/phpunit-selenium'>phpunit-selenium</a> Selenium RC integration for PHPUnit </li>
<li><a href='https://github.com/Ocramius/ProxyManager'>ProxyManager</a> :rainbow: OOP Proxy wrappers utilities - generates and manages proxies of your objects </li>
<li><a href='https://github.com/PHP-DI/PHP-DI'>PHP-DI</a> The dependency injection container for humans </li>
<li><a href='https://github.com/deployphp/deployer'>deployer</a> A deployment tool written in PHP with support for popular frameworks out of the box </li>
<li><a href='https://github.com/php-vcr/php-vcr'>php-vcr</a> Record your test suite's HTTP interactions and replay them during future test runs for fast, deterministic, accurate tests. </li>
<li><a href='https://github.com/UnionOfRAD/lithium'>lithium</a> li₃ is the fast, flexible and most RAD development framework for PHP </li>
<li><a href='https://github.com/bcosca/fatfree'>fatfree</a> A powerful yet easy-to-use PHP micro-framework designed to help you build dynamic and robust Web applications - fast! </li>
<li><a href='https://github.com/phalcon/incubator'>incubator</a> Incubator adapters/functionality for the Phalcon PHP Framework </li>
<li><a href='https://github.com/victorstanciu/Wikitten'>Wikitten</a> Wikitten is a small, fast, PHP wiki, and the perfect place to store your notes, code snippets, ideas, and so on. </li>
<li><a href='https://github.com/craue/CraueFormFlowBundle'>CraueFormFlowBundle</a> Multi-step forms for your Symfony2 project. </li>
<li><a href='https://github.com/barryvdh/laravel-ide-helper'>laravel-ide-helper</a> Laravel IDE Helper </li>
<li><a href='https://github.com/gimler/symfony-rest-edition'>symfony-rest-edition</a> Fork from symfony-standard edition with additional rest features. </li>
<li><a href='https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards'>WordPress-Coding-Standards</a> PHP_CodeSniffer rules (sniffs) to enforce WordPress coding conventions </li>
<li><a href='https://github.com/CachetHQ/Cachet'>Cachet</a> An open source status page system, for everyone. </li>
<li><a href='https://github.com/rmccue/Requests'>Requests</a> Requests for PHP is a humble HTTP request library. It simplifies how you interact with other sites and takes away all your worries. </li>
<li><a href='https://github.com/justinrainbow/json-schema'>json-schema</a> PHP implementation of JSON schema. Fork of the http://jsonschemaphpv.sourceforge.net/ project  </li>
<li><a href='https://github.com/padraic/humbug'>humbug</a> Humbug is a Mutation Testing framework for PHP to measure the real effectiveness of your test suites and assist in their improvement. It eats Code Coverage for breakfast. </li>
<li><a href='https://github.com/mathiasverraes/money'>money</a> PHP implementation of Fowler's Money pattern. NOTE: all work is happening in the "nextrelease" branch, which will break BC. </li>
<li><a href='https://github.com/Froxlor/Froxlor'>Froxlor</a> The server administration software for your needs - The official Froxlor development Git repository </li>
<li><a href='https://github.com/markomarkovic/simple-php-git-deploy'>simple-php-git-deploy</a> Automatically deploy the code using PHP and Git </li>
<li><a href='https://github.com/nelmio/NelmioApiDocBundle'>NelmioApiDocBundle</a> Generates documentation for your REST API from annotations </li>
<li><a href='https://github.com/phalcon/phalcon-devtools'>phalcon-devtools</a> Phalcon Developer Tools </li>
<li><a href='https://github.com/bestmomo/laravel5-example'>laravel5-example</a> Simple laravel5 example for tutorial </li>
<li><a href='https://github.com/afragen/github-updater'>github-updater</a> This WP plugin will update GitHub, Bitbucket, and GitLab hosted plugins and themes </li>
