<li><a href='https://github.com/bobthecow/mustache.php'>mustache.php</a> A Mustache implementation in PHP. </li>
<li><a href='https://github.com/mlively/Phake'>Phake</a> PHP Mocking Framework </li>
<li><a href='https://github.com/cosenary/Instagram-PHP-API'>Instagram-PHP-API</a> An easy-to-use PHP Class for accessing Instagram's API. </li>
<li><a href='https://github.com/amazonwebservices/aws-sdk-for-php'>aws-sdk-for-php</a> (DEPRECATED) AWS SDK for PHP - Version 1. Version 2 is the latest: </li>
<li><a href='https://github.com/walu/phpbook'>phpbook</a> PHP扩展开发及内核应用 </li>
<li><a href='https://github.com/snc/SncRedisBundle'>SncRedisBundle</a> A Redis bundle for Symfony2 supporting Predis and PhpRedis </li>
<li><a href='https://github.com/Seldaek/monolog'>monolog</a> Sends your logs to files, sockets, inboxes, databases and various web services </li>
<li><a href='https://github.com/craue/CraueFormFlowBundle'>CraueFormFlowBundle</a> Multi-step forms for your Symfony2 project. </li>
<li><a href='https://github.com/PHPOffice/PHPWord'>PHPWord</a> A pure PHP library for reading and writing word processing documents </li>
<li><a href='https://github.com/schickling/laravel-backup'>laravel-backup</a> Backup and restore database support for Laravel 4 applications </li>
<li><a href='https://github.com/FriendsOfSymfony/FOSMessageBundle'>FOSMessageBundle</a> Provides messenging features for your Symfony2 application. </li>
<li><a href='https://github.com/atoum/atoum'>atoum</a> The modern, simple and intuitive PHP 5.3+ unit testing framework. </li>
<li><a href='https://github.com/CodeSleeve/asset-pipeline'>asset-pipeline</a> This Laravel 4 package provides a very simple and easy to use asset pipeline. It was heavily inspired by the Rails asset pipeline. We make use of the wonderful Assetic package to help with pre-compliation! </li>
<li><a href='https://github.com/laracasts/PHP-Vars-To-Js-Transformer'>PHP-Vars-To-Js-Transformer</a> Transform PHP types to JavaScript </li>
<li><a href='https://github.com/virtphp/virtphp'>virtphp</a> virtPHP is a tool to create isolated PHP environments. </li>
<li><a href='https://github.com/stof/StofDoctrineExtensionsBundle'>StofDoctrineExtensionsBundle</a> Integration bundle for DoctrineExtensions by l3pp4rd in Symfony2 </li>
<li><a href='https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards'>WordPress-Coding-Standards</a> PHP_CodeSniffer rules (sniffs) to enforce WordPress coding conventions </li>
<li><a href='https://github.com/pressflow/7'>7</a> Pressflow 7 </li>
<li><a href='https://github.com/braincrafted/bootstrap-bundle'>bootstrap-bundle</a> BraincraftedBootstrapBundle integrates Bootstrap into Symfony2 by providing templates, Twig extensions, services and commands. </li>
<li><a href='https://github.com/symphonycms/symphony-2'>symphony-2</a> This is the official Symphony 2 repository. </li>
<li><a href='https://github.com/kriswallsmith/Buzz'>Buzz</a> PHP's lightweight HTTP client </li>
<li><a href='https://github.com/pagekit/pagekit'>pagekit</a> The Pagekit CMS </li>
<li><a href='https://github.com/simplethings/EntityAudit'>EntityAudit</a> Doctrine2 Extension to Audit Entities through versioning tables. </li>
<li><a href='https://github.com/MPOS/php-mpos'>php-mpos</a> MPOS stands for Mining Portal Open Source. A unified mining interface for various Scrypt and SHA256d Crypto-currencies! </li>
<li><a href='https://github.com/doctrine/dbal'>dbal</a> Doctrine Database Abstraction Layer </li>
<li><a href='https://github.com/bjyoungblood/BjyAuthorize'>BjyAuthorize</a>  </li>
<li><a href='https://github.com/dustin10/VichUploaderBundle'>VichUploaderBundle</a> A simple Symfony2 bundle to ease file uploads with ORM entities and ODM documents. </li>
<li><a href='https://github.com/aheinze/cockpit'>cockpit</a> Add content management functionality to any site - plug & play CMS </li>
<li><a href='https://github.com/phpspec/phpspec'>phpspec</a> SpecBDD Framework for PHP </li>
<li><a href='https://github.com/vlucas/bulletphp'>bulletphp</a> A resource-oriented micro PHP framework </li>
