<li><a href='https://github.com/craue/CraueFormFlowBundle'>CraueFormFlowBundle</a> Multi-step forms for your Symfony2 project. </li>
<li><a href='https://github.com/barryvdh/laravel-debugbar'>laravel-debugbar</a> Laravel 4 Debugbar (Integrates PHP Debug Bar) </li>
<li><a href='https://github.com/schmittjoh/JMSSerializerBundle'>JMSSerializerBundle</a> Easily serialize, and deserialize data of any complexity (supports XML, JSON, YAML) </li>
<li><a href='https://github.com/nette/nette'>nette</a> Nette Framework </li>
<li><a href='https://github.com/atoum/atoum'>atoum</a> The modern, simple and intuitive PHP 5.3+ unit testing framework. </li>
<li><a href='https://github.com/sebastianbergmann/phploc'>phploc</a> A tool for quickly measuring the size of a PHP project. </li>
<li><a href='https://github.com/zurb/ink'>ink</a> Quickly create responsive HTML emails that work on any device & client. Even Outlook. </li>
<li><a href='https://github.com/adamfisk/LittleProxy'>LittleProxy</a> High Performance HTTP Proxy </li>
<li><a href='https://github.com/reeze/tipi'>tipi</a> Thinking In PHP Internals.  内含开源书籍《深入理解PHP内核》一本,以及相关项目若干 </li>
<li><a href='https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards'>WordPress-Coding-Standards</a> PHP_CodeSniffer rules (sniffs) to enforce WordPress coding conventions </li>
<li><a href='https://github.com/cosenary/Instagram-PHP-API'>Instagram-PHP-API</a> An easy-to-use PHP Class for accessing Instagram's API. </li>
<li><a href='https://github.com/composer/satis'>satis</a> Simple static Composer repository generator </li>
<li><a href='https://github.com/tedious/Fetch'>Fetch</a> An IMAP library for PHP </li>
<li><a href='https://github.com/concrete5/concrete5'>concrete5</a> Official public repository for concrete5 </li>
<li><a href='https://github.com/ci-bonfire/Bonfire'>Bonfire</a> Jumpstart your CodeIgniter web applications with a modular, HMVC-ready, backend. </li>
<li><a href='https://github.com/techdivision/TechDivision_ApplicationServer'>TechDivision_ApplicationServer</a> Thread based PHP daemon to implement stuff like message queues. </li>
<li><a href='https://github.com/etrepat/baum'>baum</a> Baum is an implementation of the Nested Set pattern for Laravel 4's Eloquent ORM. </li>
<li><a href='https://github.com/ezyang/htmlpurifier'>htmlpurifier</a> Standards compliant HTML filter written in PHP </li>
<li><a href='https://github.com/fuel/core'>core</a> The core of the FuelPHP framework </li>
<li><a href='https://github.com/thephpleague/oauth2-client'>oauth2-client</a> Making it stupidly simple to integrate your application with OAuth 2.0 identity providers. </li>
<li><a href='https://github.com/KnpLabs/KnpBundles'>KnpBundles</a> THE unofficial listing of Symfony2 bundles. </li>
<li><a href='https://github.com/revive-adserver/revive-adserver'>revive-adserver</a> The open source ad server formerly known as OpenX Source. Download release packages from: </li>
<li><a href='https://github.com/briannesbitt/Carbon'>Carbon</a> A simple API extension for DateTime with PHP 5.3+ </li>
<li><a href='https://github.com/fex-team/fis'>fis</a> Front-end Integrated Solution - 前端集成解决方案 </li>
<li><a href='https://github.com/apigen/apigen'>apigen</a> PHP source code API generator  </li>
<li><a href='https://github.com/semsol/arc2'>arc2</a> ARC RDF Classes for PHP </li>
<li><a href='https://github.com/typecho/typecho'>typecho</a> A PHP Blogging Platform. Simple and Powerful. </li>
<li><a href='https://github.com/netz98/n98-magerun'>n98-magerun</a> Provides some handy tools for magento developers like a quick database info from local.xml or a database dump feature, cache clearing, admin user password reset. You can also easily install a complete shop and sample data with buildin installer. For coders there are also many features like a module kickstarter (with modman support). If something is missing you can extend the tool with own commands. </li>
<li><a href='https://github.com/rcrowe/TwigBridge'>TwigBridge</a> Give the power of Twig to Laravel 4 </li>
<li><a href='https://github.com/thorsten/phpMyFAQ'>phpMyFAQ</a> phpMyFAQ - open source FAQ system for PHP and MySQL, PostgreSQL and other databases </li>
