<li><a href='https://github.com/cython/cython'>cython</a> A Python to C compiler </li>
<li><a href='https://github.com/scipy-lectures/scipy-lecture-notes'>scipy-lecture-notes</a> Tutorial material on the scientific Python ecosystem </li>
<li><a href='https://github.com/rossp/django-helpdesk'>django-helpdesk</a> A Django application to manage tickets for an internal helpdesk. Formerly known as Jutda Helpdesk. </li>
<li><a href='https://github.com/gabrielfalcao/HTTPretty'>HTTPretty</a> HTTP client mocking tool for Python, it's like ruby's FakeWeb for python </li>
<li><a href='https://github.com/SyrusAkbary/pyjade'>pyjade</a> Jade syntax adapter for Django, Jinja2 and Mako templates </li>
<li><a href='https://github.com/MongoEngine/mongoengine'>mongoengine</a> A Python Object-Document-Mapper for working with MongoDB </li>
<li><a href='https://github.com/django-mptt/django-mptt'>django-mptt</a> Utilities for implementing a modified pre-order traversal tree in django. </li>
<li><a href='https://github.com/projecthamster/hamster'>hamster</a> The linux time tracker </li>
<li><a href='https://github.com/pythonium/pythonium'>pythonium</a> Best Python 3 to Javascript translator written in Python that produce fast portable javascript code </li>
<li><a href='https://github.com/hmarr/django-ses'>django-ses</a> A Django email backend for Amazon's Simple Email Service </li>
<li><a href='https://github.com/idan/oauthlib'>oauthlib</a> A generic, spec-compliant, thorough implementation of the OAuth request-signing logic </li>
<li><a href='https://github.com/graphite-project/whisper'>whisper</a>  </li>
<li><a href='https://github.com/gurgeh/selfspy'>selfspy</a> Log everything you do on the computer, for statistics, future reference and all-around fun! </li>
<li><a href='https://github.com/cobbler/cobbler'>cobbler</a> everyone's favorite Linux Install & Update Server </li>
<li><a href='https://github.com/matthewwithanm/django-imagekit'>django-imagekit</a> Automated image processing for Django. Currently v3.0 </li>
<li><a href='https://github.com/Theano/Theano'>Theano</a> Optimizing GPU-meta-programming code generating array oriented optimizing math compiler in Python </li>
<li><a href='https://github.com/chrisglass/xhtml2pdf'>xhtml2pdf</a> HTML/CSS to PDF converter based on Python </li>
<li><a href='https://github.com/AppScale/appscale'>appscale</a> The Open Source Implementation of Google App Engine -- Take your apps everywhere. </li>
<li><a href='https://github.com/halst/schema'>schema</a> Schema validation just got Pythonic </li>
<li><a href='https://github.com/spotify/luigi'>luigi</a> Luigi is a Python module that helps you build complex pipelines of batch jobs. It handles dependency resolution, workflow management, visualization etc. It also comes with Hadoop support built in.  </li>
<li><a href='https://github.com/arskom/spyne'>spyne</a> A transport and architecture agnostic RPC library that focuses on exposing services with a well-defined API using popular protocols. </li>
<li><a href='https://github.com/mopidy/mopidy'>mopidy</a> Music server with support for MPD/HTTP clients and Spotify streaming </li>
<li><a href='https://github.com/topazproject/topaz'>topaz</a> A high performance ruby, written in RPython </li>
<li><a href='https://github.com/SmileyChris/easy-thumbnails'>easy-thumbnails</a> Easy thumbnails for Django </li>
<li><a href='https://github.com/mininet/mininet'>mininet</a> Emulator for rapid prototyping of Software Defined Networks </li>
<li><a href='https://github.com/hylang/hy'>hy</a> ὑμήνπτερόν </li>
<li><a href='https://github.com/samuraisam/pyapns'>pyapns</a> An APNS provider with multi-app support. </li>
<li><a href='https://github.com/mitmproxy/mitmproxy'>mitmproxy</a> An interactive SSL-capable intercepting HTTP proxy for penetration testers and software developers </li>
<li><a href='https://github.com/joonty/vdebug'>vdebug</a> Multi-language DBGP debugger client for Vim (PHP, Python, Perl, Ruby, etc.) </li>
<li><a href='https://github.com/lisa-lab/pylearn2'>pylearn2</a> A Machine Learning library based on Theano </li>
