<li><a href='https://github.com/powerline/powerline'>powerline</a> Powerline is a statusline plugin for vim, and provides statuslines and prompts for several other applications, including zsh, bash, tmux, IPython, Awesome and Qtile. </li>
<li><a href='https://github.com/pyinvoke/invoke'>invoke</a> Simple Python task execution </li>
<li><a href='https://github.com/jelmer/dulwich'>dulwich</a> Pure-Python Git implementation </li>
<li><a href='https://github.com/bslatkin/dpxdt'>dpxdt</a> Make continuous deployment safe by comparing before and after webpage screenshots for each release. Depicted shows when any visual, perceptual differences are found. This is the ultimate, automated end-to-end test. </li>
<li><a href='https://github.com/django-wiki/django-wiki'>django-wiki</a> A wiki system with complex functionality for simple integration and a superb interface. Store your knowledge with style: Use django models. </li>
<li><a href='https://github.com/namlook/mongokit'>mongokit</a> MongoKit framework try to keep its simplicity when you manage mongodb in python. MongoKit was developed to be fast and light with KISS and DRY in mind. MongoKit brings structured schema and validation layer on top of the great pymongo driver. Discuss with us on Google group : http://groups.google.com/group/mongokit or follow the news on Twitter: http://twitter.com/namlook </li>
<li><a href='https://github.com/hhatto/autopep8'>autopep8</a> A tool that automatically formats Python code to conform to the PEP 8 style guide. </li>
<li><a href='https://github.com/amoffat/sh'>sh</a> Python process launching </li>
<li><a href='https://github.com/edx/XBlock'>XBlock</a> XBlock courseware component architecture </li>
<li><a href='https://github.com/andialbrecht/sqlparse'>sqlparse</a> A non-validating SQL parser module for Python </li>
<li><a href='https://github.com/chrisallenlane/cheat'>cheat</a> cheat allows you to create and view interactive cheatsheets on the command-line. It was designed to help remind *nix system administrators of options for commands that they use frequently, but not frequently enough to remember. </li>
<li><a href='https://github.com/dropbox/responses'>responses</a> A utility for mocking out the Python Requests library. </li>
<li><a href='https://github.com/django/djangoproject.com'>djangoproject.com</a> Source code to djangoproject.com </li>
<li><a href='https://github.com/mher/flower'>flower</a> Real-time monitor and web admin for Celery distributed task queue </li>
<li><a href='https://github.com/Kozea/pygal'>pygal</a> PYthon svg GrAph plotting Library </li>
<li><a href='https://github.com/pybrain/pybrain'>pybrain</a>  </li>
<li><a href='https://github.com/carljm/django-model-utils'>django-model-utils</a> Django model mixins and utilities. </li>
<li><a href='https://github.com/yourlabs/django-autocomplete-light'>django-autocomplete-light</a> A fresh approach to autocomplete implementations, specially for Django. It supports templated autocompletes, foreign key, many to many, generic foreign key, generic many to many, autocompletes that depend on each other, etc, etc ... Status: 2.x.x stable, 1.x.x deprecated. </li>
<li><a href='https://github.com/tschellenbach/Stream-Framework'>Stream-Framework</a> Stream Framework is a Python library, which allows you to build newsfeed and notification systems using Cassandra and/or Redis. </li>
<li><a href='https://github.com/harelba/q'>q</a> q - Run SQL directly on CSV or TSV files   </li>
<li><a href='https://github.com/yandex/yandex-tank'>yandex-tank</a> Load and performance benchmark tool </li>
<li><a href='https://github.com/mwaskom/seaborn'>seaborn</a> Statistical data visualization using matplotlib </li>
<li><a href='https://github.com/coleifer/flask-peewee'>flask-peewee</a> flask integration for peewee, including admin, authentication, rest api and more </li>
<li><a href='https://github.com/sixohsix/twitter'>twitter</a> Python Twitter API </li>
<li><a href='https://github.com/Kozea/Radicale'>Radicale</a> A simple CalDAV (calendar) and CardDAV (contact) server. </li>
<li><a href='https://github.com/ryanmcgrath/twython'>twython</a> Actively maintained, pure Python wrapper for the Twitter API. Supports both normal and streaming Twitter APIs. </li>
<li><a href='https://github.com/samuraisam/pyapns'>pyapns</a> An APNS provider with multi-app support. </li>
<li><a href='https://github.com/etsy/logster'>logster</a> Parse log files, generate metrics for Graphite and Ganglia </li>
<li><a href='https://github.com/hut/ranger'>ranger</a> A vim-inspired filemanager for the console </li>
<li><a href='https://github.com/celery/kombu'>kombu</a> Messaging library for Python. </li>
