<li><a href='https://github.com/spulec/moto'>moto</a> Moto is a library that allows your python tests to easily mock out the boto library </li>
<li><a href='https://github.com/opsschool/curriculum'>curriculum</a> Ops School Curriculum </li>
<li><a href='https://github.com/PyMySQL/PyMySQL'>PyMySQL</a> PyMySQL: Pure-Python MySQL Client </li>
<li><a href='https://github.com/revolunet/sublimetext-markdown-preview'>sublimetext-markdown-preview</a> markdown preview and build plugin for sublime text 2/3 </li>
<li><a href='https://github.com/crsmithdev/arrow'>arrow</a> Better dates & times for Python </li>
<li><a href='https://github.com/django-extensions/django-extensions'>django-extensions</a> This is a repository for collecting global custom management extensions for the Django Framework.  </li>
<li><a href='https://github.com/twilio/flask-restful'>flask-restful</a> Simple framework for creating REST APIs </li>
<li><a href='https://github.com/kennethreitz/tablib'>tablib</a> Python Module for Tabular Datasets in XLS, CSV, JSON, YAML, &c. </li>
<li><a href='https://github.com/agiliq/merchant'>merchant</a> A Django app to accept payments from various payment processors via Pluggable backends. </li>
<li><a href='https://github.com/s3tools/s3cmd'>s3cmd</a> Official s3cmd repo -- Command line tool for managing Amazon S3 and CloudFront services </li>
<li><a href='https://github.com/gaubert/gmvault'>gmvault</a> gmail backup software </li>
<li><a href='https://github.com/benjaoming/django-wiki'>django-wiki</a> A wiki system with complex functionality for simple integration and a superb interface. Store your knowledge with style: Use django models. </li>
<li><a href='https://github.com/steeve/xbmctorrent'>xbmctorrent</a> Torrent streaming for XBMC </li>
<li><a href='https://github.com/piskvorky/gensim'>gensim</a> Topic Modelling for Humans </li>
<li><a href='https://github.com/adobe/brackets-shell'>brackets-shell</a> CEF3-based application shell for Brackets. </li>
<li><a href='https://github.com/seatgeek/sixpack'>sixpack</a> Sixpack is a language-agnostic a/b-testing framework </li>
<li><a href='https://github.com/gitpython-developers/GitPython'>GitPython</a> GitPython is a python library used to interact with Git repositories. </li>
<li><a href='https://github.com/mapbox/osm-bright'>osm-bright</a> A Carto template for OpenStreetMap data </li>
<li><a href='https://github.com/digi604/django-smart-selects'>django-smart-selects</a> chained and grouped selects for django forms </li>
<li><a href='https://github.com/spesmilo/electrum'>electrum</a> Electrum; Bitcoin thin client </li>
<li><a href='https://github.com/mediadrop/mediadrop'>mediadrop</a> A video, audio and podcast publication platform written in Python. </li>
<li><a href='https://github.com/sebleier/django-redis-cache'>django-redis-cache</a> A Redis cache backend for django </li>
<li><a href='https://github.com/milkbikis/powerline-shell'>powerline-shell</a> A beautiful and useful prompt for your shell </li>
<li><a href='https://github.com/sightmachine/SimpleCV'>SimpleCV</a> The Open Source Framework for Machine Vision </li>
<li><a href='https://github.com/zapier/django-drip'>django-drip</a> Use the admin to manage drip campaign emails using querysets on Django's User model. </li>
<li><a href='https://github.com/mozilla/zamboni'>zamboni</a> The backend of the Firefox Marketplace </li>
<li><a href='https://github.com/joelthelion/autojump'>autojump</a> A cd command that learns - easily navigate directories from the command line </li>
<li><a href='https://github.com/Rip-Rip/clang_complete'>clang_complete</a> Vim plugin that use clang for completing C/C++ code. </li>
<li><a href='https://github.com/rapidsms/rapidsms'>rapidsms</a> Build SMS applications with Python </li>
<li><a href='https://github.com/carljm/django-model-utils'>django-model-utils</a> Django model mixins and utilities. </li>
