*************
<li><a href='https://github.com/glebm/i18n-tasks'>i18n-tasks</a> Manage translation and localization with static analysis, for Ruby i18n </li>
<li><a href='https://github.com/benjaminoakes/maid'>maid</a> Be lazy.  Let Maid clean up after you, based on rules you define.  Think of it as "Hazel for hackers". </li>
<li><a href='https://github.com/javan/whenever'>whenever</a> Cron jobs in Ruby </li>
<li><a href='https://github.com/jamesrwhite/minicron'>minicron</a> A system to manage and monitor cron jobs. </li>
<li><a href='https://github.com/mperham/dalli'>dalli</a> High performance memcached client for Ruby </li>
<li><a href='https://github.com/ruby-concurrency/concurrent-ruby'>concurrent-ruby</a> Modern concurrency tools including agents, futures, promises, thread pools, supervisors, and more. Inspired by Erlang, Clojure, Scala, Go, Java, JavaScript, and classic concurrency patterns. </li>
<li><a href='https://github.com/railsbp/rails_best_practices'>rails_best_practices</a> a code metric tool for rails projects </li>
<li><a href='https://github.com/andrewculver/koudoku'>koudoku</a> Robust subscription support for Rails with Stripe. </li>
<li><a href='https://github.com/everzet/capifony'>capifony</a> Deploying symfony and Symfony2 Applications with Capistrano </li>
<li><a href='https://github.com/rubymotion/BubbleWrap'>BubbleWrap</a> Cocoa wrappers and helpers for RubyMotion (Ruby for iOS and OS X) - Making Cocoa APIs more Ruby like, one API at a time. Fork away and send your pull requests </li>
<li><a href='https://github.com/Shopify/identity_cache'>identity_cache</a> IdentityCache is a blob level caching solution to plug into ActiveRecord. Don't #find, #fetch! </li>
<li><a href='https://github.com/colszowka/simplecov'>simplecov</a> Code coverage for Ruby 1.9+ with a powerful configuration library and automatic merging of coverage across test suites </li>
<li><a href='https://github.com/HipByte/RubyMotionSamples'>RubyMotionSamples</a> A collection of RubyMotion applications for code samples. </li>
<li><a href='https://github.com/cypriss/mutations'>mutations</a> Compose your business logic into commands that sanitize and validate input. </li>
<li><a href='https://github.com/ankane/ahoy'>ahoy</a> A solid foundation for analytics on Rails </li>
<li><a href='https://github.com/davidcelis/recommendable'>recommendable</a> A recommendation engine using Likes and Dislikes for your Ruby/Redis application. </li>
<li><a href='https://github.com/jnunemaker/httparty'>httparty</a> Makes http fun again! </li>
<li><a href='https://github.com/clearsightstudio/ProMotion'>ProMotion</a> ProMotion is a RubyMotion gem that makes iPhone development less like Objective-C and more like Ruby. Star this repo to keep tabs on our progress! </li>
<li><a href='https://github.com/seancribbs/webmachine-ruby'>webmachine-ruby</a> Webmachine, the HTTP toolkit (in Ruby) </li>
<li><a href='https://github.com/thoughtbot/capybara-webkit'>capybara-webkit</a> A Capybara driver for headless WebKit so you can test Javascript web apps </li>
<li><a href='https://github.com/rspec/rspec-core'>rspec-core</a> RSpec runner and formatters </li>
<li><a href='https://github.com/r8/vagrant-lamp'>vagrant-lamp</a> My default LAMP development stack for Vagrant </li>
<li><a href='https://github.com/teampoltergeist/poltergeist'>poltergeist</a> A PhantomJS driver for Capybara </li>
<li><a href='https://github.com/calabash/calabash-ios'>calabash-ios</a> Calabash for iOS </li>
<li><a href='https://github.com/supermarin/xcpretty'>xcpretty</a> Flexible and fast xcodebuild formatter </li>
<li><a href='https://github.com/padrino/padrino-framework'>padrino-framework</a> Padrino is a full-stack ruby framework built upon Sinatra.  </li>
<li><a href='https://github.com/sferik/t'>t</a> A command-line power tool for Twitter. </li>
<li><a href='https://github.com/michelson/lazy_high_charts'>lazy_high_charts</a> Make highcharts a la ruby , works in rails 3.X, 4 and other ruby web frameworks </li>
<li><a href='https://github.com/rkh/rack-protection'>rack-protection</a> You should use protection! </li>
<li><a href='https://github.com/cinchrb/cinch'>cinch</a> The IRC Bot Building Framework </li>
