<li><a href='https://github.com/everzet/capifony'>capifony</a> Deploying symfony and Symfony2 Applications with Capistrano </li>
<li><a href='https://github.com/fnichol/chef-rvm'>chef-rvm</a> Chef cookbook for RVM. Recipes for installing system wide and by user. LWRPs to manage Rubies, gems, gemsets, wrappers. </li>
<li><a href='https://github.com/RubyMoney/money-rails'>money-rails</a> Integration of RubyMoney - Money with Rails </li>
<li><a href='https://github.com/pearkes/tugboat'>tugboat</a> A command line tool for interacting with your DigitalOcean droplets. </li>
<li><a href='https://github.com/radar/paranoia'>paranoia</a> acts_as_paranoid for Rails 3 & 4 </li>
<li><a href='https://github.com/stympy/faker'>faker</a> A library for generating fake data such as names, addresses, and phone numbers. </li>
<li><a href='https://github.com/thoughtbot/shoulda-matchers'>shoulda-matchers</a> Collection of testing matchers extracted from Shoulda </li>
<li><a href='https://github.com/nathanvda/cocoon'>cocoon</a> Dynamic nested forms using jQuery made easy; works with formtastic, simple_form or default forms </li>
<li><a href='https://github.com/rails/spring'>spring</a> Rails application preloader </li>
<li><a href='https://github.com/intridea/oauth2'>oauth2</a> A Ruby wrapper for the OAuth 2.0 protocol. </li>
<li><a href='https://github.com/mbleigh/seed-fu'>seed-fu</a> Advanced seed data handling for Rails, combining the best practices of several methods together. </li>
<li><a href='https://github.com/Fudge/gltail'>gltail</a> Real-time visualization of server traffic, events and statistics with Ruby, SSH and OpenGL </li>
<li><a href='https://github.com/gocardless/statesman'>statesman</a> A statesmanlike state machine library. </li>
<li><a href='https://github.com/berkshelf/berkshelf'>berkshelf</a> A Chef Cookbook manager </li>
<li><a href='https://github.com/toy/image_optim'>image_optim</a> Optimize images using multiple utilities </li>
<li><a href='https://github.com/stevegraham/slanger'>slanger</a> Open Pusher implementation compatible with Pusher libraries </li>
<li><a href='https://github.com/rubygems/rubygems'>rubygems</a> Library packaging and distribution for Ruby. </li>
<li><a href='https://github.com/kneath/kss'>kss</a> A methodology for documenting CSS and generating styleguides. </li>
<li><a href='https://github.com/rails/strong_parameters'>strong_parameters</a> Taint and required checking for Action Pack and enforcement in Active Model </li>
<li><a href='https://github.com/brianmario/mysql2'>mysql2</a> A modern, simple and very fast Mysql library for Ruby - binding to libmysql </li>
<li><a href='https://github.com/activerecord-hackery/squeel'>squeel</a> Active Record, improved. Live again :) </li>
<li><a href='https://github.com/tmuxinator/tmuxinator'>tmuxinator</a> Manage complex tmux sessions easily </li>
<li><a href='https://github.com/padrino/padrino-framework'>padrino-framework</a> Padrino is a full-stack ruby framework built upon Sinatra.  </li>
<li><a href='https://github.com/stephencelis/ghi'>ghi</a> GitHub Issues on the command line. Use your $EDITOR, not your browser. </li>
<li><a href='https://github.com/integrity/integrity'>integrity</a> Continuous Integration server </li>
<li><a href='https://github.com/MiniProfiler/rack-mini-profiler'>rack-mini-profiler</a> Profiler for your development and production Ruby rack apps.  </li>
<li><a href='https://github.com/test-kitchen/test-kitchen'>test-kitchen</a> Test Kitchen is an integration tool for developing and testing infrastructure code and software on isolated target platforms. </li>
<li><a href='https://github.com/flavorjones/loofah'>loofah</a> HTML/XML manipulation and sanitization based on Nokogiri </li>
<li><a href='https://github.com/norman/friendly_id'>friendly_id</a> FriendlyId is the “Swiss Army bulldozer” of slugging and permalink plugins for ActiveRecord. It allows you to create pretty URL’s and work with human-friendly strings as if they were numeric ids for ActiveRecord models. </li>
<li><a href='https://github.com/collectiveidea/awesome_nested_set'>awesome_nested_set</a> An awesome replacement for acts_as_nested_set and better_nested_set. </li>
