<li><a href='https://github.com/bkeepers/dotenv'>dotenv</a> Loads environment variables from `.env`.  </li>
<li><a href='https://github.com/railsbp/rails_best_practices'>rails_best_practices</a> a code metric tool for rails projects </li>
<li><a href='https://github.com/glebm/i18n-tasks'>i18n-tasks</a> Manage translations in ruby applications with the awesome power of static analysis </li>
<li><a href='https://github.com/troessner/reek'>reek</a> Code smell detector for Ruby </li>
<li><a href='https://github.com/ambethia/recaptcha'>recaptcha</a> ReCaptcha helpers for ruby apps </li>
<li><a href='https://github.com/mkdynamic/omniauth-facebook'>omniauth-facebook</a> Facebook OAuth2 Strategy for OmniAuth </li>
<li><a href='https://github.com/remiprev/her'>her</a> Her is an ORM (Object Relational Mapper) that maps REST resources to Ruby objects. It is designed to build applications that are powered by a RESTful API instead of a database. </li>
<li><a href='https://github.com/pry/pry'>pry</a> An IRB alternative and runtime developer console </li>
<li><a href='https://github.com/mileszs/wicked_pdf'>wicked_pdf</a> PDF generator (from HTML) plugin for Ruby on Rails </li>
<li><a href='https://github.com/twitter/secureheaders'>secureheaders</a> Security related headers all in one gem </li>
<li><a href='https://github.com/nomad/houston'>houston</a> Apple Push Notifications; No Dirigible Required </li>
<li><a href='https://github.com/KKBOX/FireApp'>FireApp</a> Fire.app is a HTML prototyping tool with Sass/Compass/ERB/Haml/Slim/Markdown support </li>
<li><a href='https://github.com/vcr/vcr'>vcr</a> Record your test suite's HTTP interactions and replay them during future test runs for fast, deterministic, accurate tests. </li>
<li><a href='https://github.com/sensu/sensu'>sensu</a> A monitoring framework that aims to be simple, malleable, and scalable. </li>
<li><a href='https://github.com/cantino/ruby-readability'>ruby-readability</a> Port of arc90's readability project to Ruby </li>
<li><a href='https://github.com/documentcloud/jammit'>jammit</a> Industrial Strength Asset Packaging for Rails </li>
<li><a href='https://github.com/bblimke/webmock'>webmock</a> Library for stubbing and setting expectations on HTTP requests in Ruby. </li>
<li><a href='https://github.com/geminabox/geminabox'>geminabox</a> Really simple rubygem hosting </li>
<li><a href='https://github.com/celluloid/celluloid'>celluloid</a> Actor-based concurrent object framework for Ruby </li>
<li><a href='https://github.com/airbrake/airbrake'>airbrake</a> The official Airbrake library for Ruby on Rails. Links to other Airbrake libraries are in the ReadMe.  </li>
<li><a href='https://github.com/railsmachine/moonshine'>moonshine</a> Simple Rails deployment and configuration management. 15 minute deploys of Rails 2, 3, or 4 apps. </li>
<li><a href='https://github.com/thoughtbot/shoulda-matchers'>shoulda-matchers</a> Collection of testing matchers extracted from Shoulda </li>
<li><a href='https://github.com/celluloid/reel'>reel</a> Celluloid::IO-powered web server </li>
<li><a href='https://github.com/bryannielsen/Laravel4-Vagrant'>Laravel4-Vagrant</a> Run Laravel4 inside a Ubuntu 12.04 Vagrant Virtual Machine w/PHP 5.5 </li>
<li><a href='https://github.com/thoughtbot/guides'>guides</a> A guide for programming in style. </li>
<li><a href='https://github.com/rayh/xcoder'>xcoder</a> ruby wrapper for Xcode build tools to aid automating builds </li>
<li><a href='https://github.com/gazay/gon'>gon</a> Your Rails variables in your JS </li>
<li><a href='https://github.com/rtomayko/rocco'>rocco</a> Rocco is Docco in Ruby </li>
<li><a href='https://github.com/dejan/auto_html'>auto_html</a> Rails extension for transforming URLs to appropriate resource (image, link, YouTube, Vimeo video,...)  </li>
<li><a href='https://github.com/ruboto/ruboto'>ruboto</a> A platform for developing apps using JRuby on Android. </li>
