<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <!-- <a class="pure-menu-heading" href="">dispatcher</a> -->

        <ul>
          <li {{ page.homeactive }}><a href="{{ site.baseurl }}/">HOME</a></li>
          <li {{ page.rubyactive }}><a href="{{ site.baseurl }}/ruby/">RUBY</a></li>
          <li {{ page.pythonactive }}><a href="{{ site.baseurl }}/python/">PYTHON</a></li>
          <li {{ page.javascriptactive }}><a href="{{ site.baseurl }}/javascript/">JAVASCRIPT</a></li>
          <li {{ page.phpactive }}><a href="{{ site.baseurl }}/php/">PHP</a></li>
        </ul>
    </div>
</div>
