<li><a href='https://github.com/jhipster/generator-jhipster'>generator-jhipster</a> Hipster stack for Java developers. Yeoman + Maven + Spring + AngularJS in one handy generator. </li>
<li><a href='https://github.com/ratpack/ratpack'>ratpack</a> A toolkit for JVM web applications </li>
<li><a href='https://github.com/googlemaps/android-maps-utils'>android-maps-utils</a> Handy extensions to the Google Maps Android API. </li>
<li><a href='https://github.com/jitsi/jitsi'>jitsi</a> Jitsi is an audio/video and chat communicator that supports protocols such as SIP, XMPP/Jabber, AIM/ICQ, Windows Live, Yahoo! and many other useful features. </li>
<li><a href='https://github.com/zeromq/jzmq'>jzmq</a> Java binding for ØMQ  </li>
<li><a href='https://github.com/guardianproject/ChatSecureAndroid'>ChatSecureAndroid</a> AKA "GIBBERBOT" Off-the-Record Encrypted Chat App </li>
<li><a href='https://github.com/MasDennis/Rajawali'>Rajawali</a> Android OpenGL ES 2.0 Engine </li>
<li><a href='https://github.com/OnlyInAmerica/OpenSpritz-Android'>OpenSpritz-Android</a> OpenSpritz concept for Android. </li>
<li><a href='https://github.com/dynjs/dynjs'>dynjs</a> ECMAScript runtime for the JVM </li>
<li><a href='https://github.com/bpellin/keepassdroid'>keepassdroid</a> KeePass implementation for android </li>
<li><a href='https://github.com/SpigotMC/BungeeCord'>BungeeCord</a> BungeeCord, the 6th in a generation of server portal suites. Efficiently proxies and maintains connections and transport between multiple Minecraft servers. </li>
<li><a href='https://github.com/derekbrameyer/android-betterpickers'>android-betterpickers</a> Android library for better Picker DialogFragments </li>
<li><a href='https://github.com/martypitt/swagger-springmvc'>swagger-springmvc</a> Spring MVC integration for Swagger </li>
<li><a href='https://github.com/Netflix/genie'>genie</a> Hadoop Platform as a Service </li>
<li><a href='https://github.com/abarisain/dmix'>dmix</a> Fork of pmix that allows streaming (and now much more) </li>
<li><a href='https://github.com/mendhak/gpslogger'>gpslogger</a> Lightweight GPS Logging Application For Android. Available on the Android Market as "GPSLogger for Android" </li>
<li><a href='https://github.com/mik3y/usb-serial-for-android'>usb-serial-for-android</a> Android USB host serial driver library for CDC, FTDI, Arduino and other devices. </li>
<li><a href='https://github.com/Netflix/archaius'>archaius</a> Library for configuration management API </li>
<li><a href='https://github.com/syncany/syncany'>syncany</a> Syncany is an open-source cloud storage and filesharing application. It allows users to backup and share certain folders of their workstations using any kind of storage </li>
<li><a href='https://github.com/graphhopper/graphhopper'>graphhopper</a> An Open Source routing library and server for roads and more. Written in Java. Uses OpenStreetMap. #routeplanner </li>
<li><a href='https://github.com/etsy/AndroidStaggeredGrid'>AndroidStaggeredGrid</a> An Android staggered grid view which supports multiple columns with rows of varying sizes. </li>
<li><a href='https://github.com/killme2008/Metamorphosis'>Metamorphosis</a> A  high available,high performance distributed messaging system. </li>
<li><a href='https://github.com/AsyncHttpClient/async-http-client'>async-http-client</a> Asynchronous Http and WebSocket Client library for Java  </li>
<li><a href='https://github.com/aptana/Pydev'>Pydev</a> Aptana Python IDE </li>
<li><a href='https://github.com/mybatis/mybatis-3'>mybatis-3</a> MyBatis data mapper framework </li>
<li><a href='https://github.com/kohsuke/args4j'>args4j</a> args4j </li>
<li><a href='https://github.com/google/auto'>auto</a> A collection of source code generators for Java. </li>
<li><a href='https://github.com/OpenHFT/Java-Chronicle'>Java-Chronicle</a> Persisted low latency messaging </li>
<li><a href='https://github.com/thinkaurelius/titan'>titan</a> Distributed Graph Database </li>
<li><a href='https://github.com/tcurdt/jdeb'>jdeb</a> This library provides an Ant task and a Maven plugin to create Debian packages from Java builds in a truly cross platform manner. </li>
