<li><a href='https://github.com/eclipse/vert.x'>vert.x</a> vert.x - The scalable polyglot application platform for the JVM </li>
<li><a href='https://github.com/junit-team/junit'>junit</a> A programmer-oriented testing framework for Java. </li>
<li><a href='https://github.com/excilys/androidannotations'>androidannotations</a> Fast Android Development. Easy maintainance. </li>
<li><a href='https://github.com/codahale/metrics'>metrics</a> Capturing JVM- and application-level metrics. So you know what's going on. </li>
<li><a href='https://github.com/Prototik/HoloEverywhere'>HoloEverywhere</a> Backport Holo theme from Android 4.2 to 2.1+ </li>
<li><a href='https://github.com/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition'>FizzBuzzEnterpriseEdition</a> FizzBuzz Enterprise Edition is a no-nonsense implementation of FizzBuzz made by a serious businessman for serious business purposes. </li>
<li><a href='https://github.com/Atmosphere/atmosphere'>atmosphere</a> Realtime Client Server Framework for the JVM, supporting WebSockets and Cross-Browser Fallbacks Support </li>
<li><a href='https://github.com/OpenRefine/OpenRefine'>OpenRefine</a> OpenRefine is a free, open source power tool for working with messy data and improving it </li>
<li><a href='https://github.com/thinkaurelius/titan'>titan</a> Distributed Graph Database </li>
<li><a href='https://github.com/dropwizard/dropwizard'>dropwizard</a> A damn simple library for building production-ready RESTful web services. </li>
<li><a href='https://github.com/Netflix/Hystrix'>Hystrix</a> Hystrix is a latency and fault tolerance library designed to isolate points of access to remote systems, services and 3rd party libraries, stop cascading failure and enable resilience in complex distributed systems where failure is inevitable. </li>
<li><a href='https://github.com/yui/yuicompressor'>yuicompressor</a> YUI Compressor </li>
<li><a href='https://github.com/square/dagger'>dagger</a> A fast dependency injector for Android and Java. </li>
<li><a href='https://github.com/square/picasso'>picasso</a> A powerful image downloading and caching library for Android </li>
<li><a href='https://github.com/voldemort/voldemort'>voldemort</a> An open source clone of Amazon's Dynamo. </li>
<li><a href='https://github.com/xetorthio/jedis'>jedis</a> A blazingly small and sane redis java client </li>
<li><a href='https://github.com/pakerfeldt/android-viewflow'>android-viewflow</a> A horizontal view scroller library for Android </li>
<li><a href='https://github.com/k9mail/k-9'>k-9</a> K-9 Mail, An advanced email client for Android </li>
<li><a href='https://github.com/gradle/gradle'>gradle</a> A powerful build system for the JVM </li>
<li><a href='https://github.com/WhisperSystems/TextSecure'>TextSecure</a> A secure text messaging application for Android. </li>
<li><a href='https://github.com/Athou/commafeed'>commafeed</a> Google Reader inspired self-hosted RSS reader. </li>
<li><a href='https://github.com/roboguice/roboguice'>roboguice</a> Google Guice on Android, version 2.0 </li>
<li><a href='https://github.com/keyboardsurfer/Crouton'>Crouton</a> Context sensitive notifications for Android   </li>
<li><a href='https://github.com/square/retrofit'>retrofit</a> Type-safe REST client for Android and Java by Square, Inc. </li>
<li><a href='https://github.com/twall/jna'>jna</a> Java Native Access </li>
<li><a href='https://github.com/grails/grails-core'>grails-core</a> The Grails Web Application Framework </li>
<li><a href='https://github.com/AsyncHttpClient/async-http-client'>async-http-client</a> Asynchronous Http and WebSocket Client library for Java  </li>
<li><a href='https://github.com/emilsjolander/StickyListHeaders'>StickyListHeaders</a> An android library for section headers that stick to the top </li>
<li><a href='https://github.com/jhy/jsoup'>jsoup</a> jsoup: Java HTML Parser, with best of DOM, CSS, and jquery </li>
<li><a href='https://github.com/pcpratts/rootbeer1'>rootbeer1</a> Rootbeer GPU Compiler </li>
<li><a href='https://github.com/Netflix/RxJava'>RxJava</a> RxJava - a library for composing asynchronous and event-based programs using observable sequences for the Java VM. </li>
<li><a href='https://github.com/octo-online/robospice'>robospice</a> Repo of the Open Source Android library : RoboSpice. RoboSpice is a modular android library that makes writing asynchronous long running tasks easy. It is specialized in network requests, supports caching and offers REST requests out-of-the box using extension modules. </li>
<li><a href='https://github.com/hibernate/hibernate-orm'>hibernate-orm</a> Hibernate's core Object/Relational Mapping functionality </li>
<li><a href='https://github.com/square/okhttp'>okhttp</a> An HTTP+SPDY client for Android and Java applications. </li>
<li><a href='https://github.com/processing/processing'>processing</a> Source code for the Processing Development Environment (PDE) </li>
<li><a href='https://github.com/kevinsawicki/http-request'>http-request</a> Java HTTP Request Library </li>
<li><a href='https://github.com/twitter/ambrose'>ambrose</a> A platform for visualization and real-time monitoring of data workflows </li>
<li><a href='https://github.com/tinkerpop/blueprints'>blueprints</a> A Property Graph Model Interface </li>
<li><a href='https://github.com/Espiandev/ShowcaseView'>ShowcaseView</a> Highlight the best bits of your app to users quickly, simply, and cool...ly </li>
<li><a href='https://github.com/ginatrapani/todo.txt-android'>todo.txt-android</a> Official Todo.txt Android app for managing your todo.txt file stored in Dropbox. </li>
<li><a href='https://github.com/greenrobot/greenDAO'>greenDAO</a> greenDAO is a light & fast ORM solution for Android that maps objects to SQLite databases. </li>
<li><a href='https://github.com/perwendel/spark'>spark</a> A Sinatra inspired framework for java </li>
<li><a href='https://github.com/cucumber/cucumber-jvm'>cucumber-jvm</a> Cucumber for the JVM </li>
<li><a href='https://github.com/kevinweil/elephant-bird'>elephant-bird</a> Twitter's collection of LZO and Protocol Buffer-related Hadoop, Pig, Hive, and HBase code. </li>
<li><a href='https://github.com/koush/AndroidAsync'>AndroidAsync</a> Asynchronous socket, http (client+server), websocket, and socket.io library for android. Based on nio, not threads. </li>
<li><a href='https://github.com/hector-client/hector'>hector</a> a high level client for cassandra </li>
<li><a href='https://github.com/MovingBlocks/Terasology'>Terasology</a> Terasology is an open source project started by Benjamin "begla" Glatzel to research procedural terrain generation and efficient rendering techniques in Java using the LWJGL. The engine uses a block-based voxel-like approach as seen in Minecraft.  After proving itself as a solid tech demo begla was joined at first by Anton "small-jeeper" Kireev and Rasmus "Cervator" Praestholm and a full-fledged game concept was born. Our goal is a game that pays ample tribute to Minecraft in initial look and origin, but stakes out its own niche by adopting the NPC-helper and caretaker feel from such games as Dwarf Fortress and Dungeon Keeper, while striving for added depth and sophistication in the foundation systems akin to DF. </li>
<li><a href='https://github.com/nhaarman/ListViewAnimations'>ListViewAnimations</a> An Android library which allows developers to easily add animations to ListView items </li>
<li><a href='https://github.com/reactor/reactor'>reactor</a> Reactor - a foundation for reactive fastdata applications on the JVM </li>
<li><a href='https://github.com/http-kit/http-kit'>http-kit</a> http-kit is a minimalist, event-driven, high-performance Clojure HTTP server/client library with WebSocket and asynchronous support </li>
<li><a href='https://github.com/alibaba/druid'>druid</a> 为监控而生的数据库连接池！ </li>
<li><a href='https://github.com/twitter/commons'>commons</a> Twitter common libraries for python and the JVM </li>
<li><a href='https://github.com/mongodb/mongo-hadoop'>mongo-hadoop</a> MongoDB Connector for Hadoop </li>
<li><a href='https://github.com/jankotek/MapDB'>MapDB</a> MapDB provides concurrent Maps, Sets and Queues backed by disk storage or off-heap-memory. It is a fast and easy to use embedded Java database engine. </li>
<li><a href='https://github.com/yangfuhai/afinal'>afinal</a> Afinal是一个android的ioc，orm框架，内置了四大模块功能：FinalAcitivity,FinalBitmap,FinalDb,FinalHttp。通过finalActivity，我们可以通过注解的方式进行绑定ui和事件。通过finalBitmap，我们可以方便的加载bitmap图片，而无需考虑oom等问题。通过finalDB模块，我们一行代码就可以对android的sqlite数据库进行增删改查。通过FinalHttp模块，我们可以以ajax形式请求http数据。详情请通过以下网址查看。 </li>
<li><a href='https://github.com/novoda/ImageLoader'>ImageLoader</a> Library for async image loading and caching on Android </li>
<li><a href='https://github.com/sk89q/worldedit'>worldedit</a> An in-game voxel map editor for Minecraft </li>
<li><a href='https://github.com/metamx/druid'>druid</a> Druid Data Store </li>
<li><a href='https://github.com/BuildCraft/BuildCraft'>BuildCraft</a> BuildCraft </li>
<li><a href='https://github.com/typesafehub/config'>config</a> Configuration library for JVM languages </li>
