<li><a href='https://github.com/enyojs/enyo'>enyo</a> A JavaScript application framework emphasizing modularity and encapsulation </li>
<li><a href='https://github.com/rdio/jsfmt'>jsfmt</a> For formatting, searching, and rewriting JavaScript. </li>
<li><a href='https://github.com/knsv/mermaid'>mermaid</a> Generation of diagram and flowchart from text in a similar manner as markdown </li>
<li><a href='https://github.com/shelljs/shelljs'>shelljs</a> Portable Unix shell commands for Node.js </li>
<li><a href='https://github.com/gorhill/uBlock'>uBlock</a> uBlock Origin - An efficient blocker for Chromium and Firefox. Fast and lean. </li>
<li><a href='https://github.com/visionmedia/page.js'>page.js</a> Micro client-side router inspired by the Express router </li>
<li><a href='https://github.com/processing/p5.js'>p5.js</a> p5.js is a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing. http://twitter.com/p5xjs — </li>
<li><a href='https://github.com/mailru/FileAPI'>FileAPI</a> FileAPI — a set of  javascript tools for working with files. Multiupload, drag'n'drop and chunked file upload. Images: crop, resize and auto orientation by EXIF. </li>
<li><a href='https://github.com/jquery-boilerplate/jquery-boilerplate'>jquery-boilerplate</a> A jump-start for jQuery plugins development </li>
<li><a href='https://github.com/flowjs/flow.js'>flow.js</a> A JavaScript library providing multiple simultaneous, stable, fault-tolerant and resumable/restartable file uploads via the HTML5 File API. </li>
<li><a href='https://github.com/AndrewBelt/hack.chat'>hack.chat</a>  </li>
<li><a href='https://github.com/mikeric/rivets'>rivets</a> Lightweight and powerful data binding + templating solution </li>
<li><a href='https://github.com/jasny/bootstrap'>bootstrap</a> The missing components for your favorite front-end framework. </li>
<li><a href='https://github.com/josdejong/jsoneditor'>jsoneditor</a> A web-based tool to view, edit and format JSON </li>
<li><a href='https://github.com/quilljs/quill'>quill</a> A cross browser rich text editor with an API </li>
<li><a href='https://github.com/tj/co'>co</a> The ultimate generator based flow-control goodness for nodejs (supports thunks, promises, etc) </li>
<li><a href='https://github.com/goldfire/howler.js'>howler.js</a> Javascript audio library for the modern web. </li>
<li><a href='https://github.com/facebook/fixed-data-table'>fixed-data-table</a> A React table component designed to allow presenting thousands of rows of data. </li>
<li><a href='https://github.com/gruntjs/grunt-contrib-watch'>grunt-contrib-watch</a> Run tasks whenever watched files change. </li>
<li><a href='https://github.com/rschmukler/agenda'>agenda</a> Lightweight job scheduling for node </li>
<li><a href='https://github.com/brunch/brunch'>brunch</a> Fast front-end web app build tool with simple declarative config, seamless incremental compilation for rapid development, an opinionated pipeline and workflow, and core support for source maps. </li>
<li><a href='https://github.com/addyosmani/psi'>psi</a> PageSpeed Insights with reporting </li>
<li><a href='https://github.com/Khan/tota11y'>tota11y</a> an accessibility (a11y) visualization toolkit </li>
<li><a href='https://github.com/linkedin/dustjs'>dustjs</a> Asynchronous Javascript templating for the browser and server </li>
<li><a href='https://github.com/carrot/share-button'>share-button</a> fast, beautiful, and painless social shares: </li>
<li><a href='https://github.com/Automattic/kue'>kue</a> Kue is a priority job queue backed by redis, built for node.js. </li>
<li><a href='https://github.com/lepture/editor'>editor</a> A markdown editor. still on development. </li>
<li><a href='https://github.com/mobz/elasticsearch-head'>elasticsearch-head</a> A web front end for an elastic search cluster </li>
<li><a href='https://github.com/jackmoore/autosize'>autosize</a> Autosize is a small, stand-alone script to automatically adjust textarea height to fit text. </li>
<li><a href='https://github.com/rickharrison/validate.js'>validate.js</a> Lightweight JavaScript form validation library inspired by CodeIgniter. </li>
