<li><a href='https://github.com/TooTallNate/Java-WebSocket'>Java-WebSocket</a> A barebones WebSocket client and server implementation written in 100% Java. </li>
<li><a href='https://github.com/javaee-samples/javaee7-samples'>javaee7-samples</a> Java EE 7 Samples </li>
<li><a href='https://github.com/tinkerpop/gremlin'>gremlin</a> A Graph Traversal Language </li>
<li><a href='https://github.com/datastax/java-driver'>java-driver</a> DataStax Java Driver for Apache Cassandra </li>
<li><a href='https://github.com/ReactiveX/RxJava'>RxJava</a> RxJava – Reactive Extensions for the JVM – a library for composing asynchronous and event-based programs using observable sequences for the Java VM. </li>
<li><a href='https://github.com/yui/yuicompressor'>yuicompressor</a> YUI Compressor </li>
<li><a href='https://github.com/ratpack/ratpack'>ratpack</a> A toolkit for JVM web applications </li>
<li><a href='https://github.com/cbeust/jcommander'>jcommander</a> Command line parsing framework for Java </li>
<li><a href='https://github.com/msgpack/msgpack-java'>msgpack-java</a> MessagePack serializer implementation for Java / msgpack.org[Java] </li>
<li><a href='https://github.com/notnoop/java-apns'>java-apns</a> Java Apple Push Notification Service Provider </li>
<li><a href='https://github.com/VoltDB/voltdb'>voltdb</a> VoltDB </li>
<li><a href='https://github.com/kohsuke/args4j'>args4j</a> args4j </li>
<li><a href='https://github.com/codinguser/gnucash-android'>gnucash-android</a> Gnucash for Android mobile companion application.  </li>
<li><a href='https://github.com/brianm/jdbi'>jdbi</a> jDBI is designed to provide convenient tabular data access in Java(tm). It uses the Java collections framework for query results, provides a convenient means of externalizing sql statements, and provides named parameter support for any database being used. </li>
<li><a href='https://github.com/playgameservices/android-basic-samples'>android-basic-samples</a> Google Play game services - Android samples </li>
<li><a href='https://github.com/Netflix/archaius'>archaius</a> Library for configuration management API </li>
<li><a href='https://github.com/rnewson/couchdb-lucene'>couchdb-lucene</a> Enables full-text searching of CouchDB documents using Lucene </li>
<li><a href='https://github.com/6wunderkinder/android-sliding-layer-lib'>android-sliding-layer-lib</a>  </li>
<li><a href='https://github.com/impetus-opensource/Kundera'>Kundera</a> A JPA 2.0 compliant Object-Datastore Mapping Library for NoSQL Datastores. Please subscribe to:  </li>
<li><a href='https://github.com/basho/riak-java-client'>riak-java-client</a> Riak's Java client </li>
<li><a href='https://github.com/infinispan/infinispan'>infinispan</a> Infinispan is an open source data grid platform and highly scalable NoSQL cloud data store. </li>
<li><a href='https://github.com/AndlyticsProject/andlytics'>andlytics</a> Google Play - Android Market statistics app </li>
<li><a href='https://github.com/jankotek/MapDB'>MapDB</a> MapDB provides concurrent Maps, Sets and Queues backed by disk storage or off-heap-memory. It is a fast and easy to use embedded Java database engine. </li>
<li><a href='https://github.com/apache/incubator-storm'>incubator-storm</a> Mirror of Apache Storm </li>
<li><a href='https://github.com/Athou/commafeed'>commafeed</a> Google Reader inspired self-hosted RSS reader. </li>
<li><a href='https://github.com/Netflix/feign'>feign</a> Feign makes writing java http clients easier </li>
<li><a href='https://github.com/FluentLenium/FluentLenium'>FluentLenium</a> FluentLenium makes the writing of acceptance tests  in a fluent way possible using the power of  css selectors.  </li>
<li><a href='https://github.com/chewiebug/GCViewer'>GCViewer</a> Fork of tagtraum industries' GCViewer. Tagtraum stopped development in 2008, I aim to improve support for Sun's / Oracle's java 1.6 + 1.7 garbage collector logs (including G1 collector) </li>
<li><a href='https://github.com/Dreddik/AndroidTouchGallery'>AndroidTouchGallery</a> Android widget for gallery, using viewpager. Allow pinch zoom and drag for images by url </li>
<li><a href='https://github.com/amplab/tachyon'>tachyon</a>  A Reliable Memory Centric Distributed Storage System </li>
