<li><a href='https://github.com/muut/riotjs'>riotjs</a> The 1kb client side MV* library </li>
<li><a href='https://github.com/velesin/jasmine-jquery'>jasmine-jquery</a> jQuery matchers and fixture loader for Jasmine framework </li>
<li><a href='https://github.com/TalAter/annyang'>annyang</a> A javascript library for adding voice commands to your site, using speech recognition. </li>
<li><a href='https://github.com/JustinTulloss/zeromq.node'>zeromq.node</a> Node.js bindings to the zeromq library </li>
<li><a href='https://github.com/jeromeetienne/jquery-qrcode'>jquery-qrcode</a> qrcode generation standalone (doesn't depend on external services) </li>
<li><a href='https://github.com/hillelcoren/invoice-ninja'>invoice-ninja</a> An open-source invoicing site built with Laravel </li>
<li><a href='https://github.com/ded/script.js'>script.js</a> Asyncronous JavaScript loader and dependency manager </li>
<li><a href='https://github.com/mephux/komanda'>komanda</a> The IRC Client For Developers </li>
<li><a href='https://github.com/zaach/jison'>jison</a> Bison in JavaScript. </li>
<li><a href='https://github.com/mozilla/nunjucks'>nunjucks</a> A powerful templating engine with inheritance, asynchronous control, and more (jinja2 inspired) </li>
<li><a href='https://github.com/prose/prose'>prose</a> A Content Editor for GitHub. </li>
<li><a href='https://github.com/noraesae/perfect-scrollbar'>perfect-scrollbar</a> Tiny but perfect jQuery scrollbar plugin </li>
<li><a href='https://github.com/es-shims/es5-shim'>es5-shim</a> ECMAScript 5 compatibility shims for legacy JavaScript engines </li>
<li><a href='https://github.com/guardian/scribe'>scribe</a> A rich text editor framework for the web platform </li>
<li><a href='https://github.com/spine/spine'>spine</a> Lightweight MVC library for building JavaScript applications </li>
<li><a href='https://github.com/danvk/dygraphs'>dygraphs</a> Interactive visualizations of time series using JavaScript and the HTML canvas tag. Issue tracker at http://code.google.com/p/dygraphs/issues/list </li>
<li><a href='https://github.com/Miserlou/OpenSpritz'>OpenSpritz</a> A Speed Reading Bookmarklet </li>
<li><a href='https://github.com/socketstream/socketstream'>socketstream</a> A fast, modular Node.js web framework dedicated to building realtime single-page apps </li>
<li><a href='https://github.com/jakejs/jake'>jake</a> JavaScript build tool, similar to Make or Rake. Built to work with Node.js. </li>
<li><a href='https://github.com/turingou/douban.fm'>douban.fm</a> a tiny and smart cli player of douban.fm based on Node.js </li>
<li><a href='https://github.com/andrewrk/groovebasin'>groovebasin</a> Music player server with a web-based user interface. Own your music. </li>
<li><a href='https://github.com/sproutcore/sproutcore'>sproutcore</a> JavaScript Application Framework - JS library only </li>
<li><a href='https://github.com/indutny/node-spdy'>node-spdy</a> SPDY server on Node.js </li>
<li><a href='https://github.com/mozilla/sweet.js'>sweet.js</a> Sweeten your JavaScript. </li>
<li><a href='https://github.com/FredrikNoren/ungit'>ungit</a> The easiest way to use git. On any platform. Anywhere. </li>
<li><a href='https://github.com/guardian/frontend'>frontend</a> Source for the Guardian's responsive site, coming soon to a desktop near you... </li>
<li><a href='https://github.com/mdevils/node-jscs'>node-jscs</a> JavaScript Code Style checker </li>
<li><a href='https://github.com/mhevery/jasmine-node'>jasmine-node</a> Integration of Jasmine Spec framework with Node.js </li>
<li><a href='https://github.com/enyojs/enyo'>enyo</a> A JavaScript application framework emphasizing modularity and encapsulation </li>
<li><a href='https://github.com/GitbookIO/editor'>editor</a> Editor for writing books using GitBook (for Windows, Mac and Linux) </li>
