<li><a href='https://github.com/tjanczuk/edge'>edge</a> Run .NET and node.js code in-process </li>
<li><a href='https://github.com/daleharvey/pouchdb'>pouchdb</a> PouchDB is a pocket-sized database. </li>
<li><a href='https://github.com/alfajango/jquery-dynatable'>jquery-dynatable</a> A more-fun, semantic, alternative to datatables </li>
<li><a href='https://github.com/evilstreak/markdown-js'>markdown-js</a> A Markdown parser for javascript </li>
<li><a href='https://github.com/sockjs/sockjs-client'>sockjs-client</a> WebSocket emulation - Javascript client </li>
<li><a href='https://github.com/kanaka/noVNC'>noVNC</a> VNC client using HTML5 (Web Sockets, Canvas) with encryption (wss://) support. </li>
<li><a href='https://github.com/aurajs/aura'>aura</a> A scalable, event-driven JavaScript architecture for developing component-based applications. </li>
<li><a href='https://github.com/silviomoreto/bootstrap-select'>bootstrap-select</a> A custom select for @twitter bootstrap using button dropdown </li>
<li><a href='https://github.com/es-analysis/plato'>plato</a> JavaScript source code visualization, static analysis, and complexity tool </li>
<li><a href='https://github.com/leapmotion/leapjs'>leapjs</a> JavaScript client for the Leap Motion Controller </li>
<li><a href='https://github.com/tonytomov/jqGrid'>jqGrid</a> jQuery grid plugin </li>
<li><a href='https://github.com/dtao/lazy.js'>lazy.js</a> Like Underscore, but lazier </li>
<li><a href='https://github.com/airbnb/chronos'>chronos</a> Fault tolerant job scheduler for Mesos which handles dependencies and ISO8601 based schedules </li>
<li><a href='https://github.com/flatiron/winston'>winston</a> a multi-transport async logging library for node.js </li>
<li><a href='https://github.com/TalAter/annyang'>annyang</a> A javascript library for adding voice commands to your site, using speech recognition. </li>
<li><a href='https://github.com/rowanmanning/joblint'>joblint</a> Test tech job specs for issues with sexism, culture, expectations, and recruiter fails. </li>
<li><a href='https://github.com/walmartlabs/thorax'>thorax</a> Strengthening your Backbone </li>
<li><a href='https://github.com/mhevery/jasmine-node'>jasmine-node</a> Integration of Jasmine Spec framework with Node.js </li>
<li><a href='https://github.com/svg/svgo'>svgo</a> SVGO is a Nodejs-based tool for optimizing SVG vector graphics files. </li>
<li><a href='https://github.com/nodejitsu/forever'>forever</a> A simple CLI tool for ensuring that a given script runs continuously (i.e. forever) </li>
<li><a href='https://github.com/sproutcore/sproutcore'>sproutcore</a> JavaScript Application Framework - JS library only </li>
<li><a href='https://github.com/mudcube/MIDI.js'>MIDI.js</a> Making life easy to create a MIDI-app on the web. Includes a library to program synesthesia into your app for memory recognition or for creating trippy effects. Convert soundfonts for Guitar, Bass, Drums, ect. into code that can be read by the browser. Supports multiple simultaneous instruments and perfect timing. </li>
<li><a href='https://github.com/PaulUithol/Backbone-relational'>Backbone-relational</a> Get and set relations (one-to-one, one-to-many, many-to-one) for Backbone models </li>
<li><a href='https://github.com/angular-ui/ui-router'>ui-router</a> UI-Router for Nested Routing by the AngularUI Team! </li>
<li><a href='https://github.com/zurb/joyride'>joyride</a> jQuery feature tour plugin. </li>
<li><a href='https://github.com/digitalfruit/limejs'>limejs</a> HTML5 game framework for web and iOS </li>
<li><a href='https://github.com/bergie/create'>create</a> Midgard Create, a generic web editing interface for any CMS </li>
<li><a href='https://github.com/montagejs/montage'>montage</a> Montage is the core framework that simplifies the development of rich HTML5 applications by providing modular components, real-time two-way data binding, CommonJS dependency management, and much more. Join us on irc.freenode.net#montage. RSVP to have the first look at the next chapter in Web Dev and Design. </li>
<li><a href='https://github.com/FredrikNoren/ungit'>ungit</a> The easiest way to use git. On any platform. Anywhere. </li>
<li><a href='https://github.com/ebidel/filer.js'>filer.js</a> A wrapper library for the HTML5 Filesystem API what reuses UNIX commands (cp, mv, ls) for its API. </li>
