*************
<li><a href='https://github.com/aheinze/cockpit'>cockpit</a> Add content management functionality to any site - plug & play CMS </li>
<li><a href='https://github.com/sebastianbergmann/php-code-coverage'>php-code-coverage</a> Library that provides collection, processing, and rendering functionality for PHP code coverage information. </li>
<li><a href='https://github.com/rocketeers/rocketeer'>rocketeer</a> Send your projects up in the clouds </li>
<li><a href='https://github.com/bshaffer/oauth2-server-php'>oauth2-server-php</a> A library for implementing an OAuth2 Server in php </li>
<li><a href='https://github.com/pydio/pydio-core'>pydio-core</a> Pydio official repository </li>
<li><a href='https://github.com/michelf/php-markdown'>php-markdown</a> Parser for Markdown and Markdown Extra derived from the original Markdown.pl by John Gruber. </li>
<li><a href='https://github.com/Dolibarr/dolibarr'>dolibarr</a> Dolibarr ERP CRM is a modern software to manage your company or foundation activity (contacts, suppliers, invoices, orders, stocks, agenda, ...).It's an opensource software (wrote with PHP language) designed for small and medium companies, foundation and freelances. You can freely install, use and distribute it as a standalone application or as a web application to use it from every internet access and media. </li>
<li><a href='https://github.com/flarum/core'>core</a> Beautiful open-source forum software built for the modern web. </li>
<li><a href='https://github.com/foursquare/twofishes'>twofishes</a> A coarse splitting geocoder in scala, based primarily on geonames data </li>
<li><a href='https://github.com/cachethq/Cachet'>Cachet</a> An open source status page system written in PHP </li>
<li><a href='https://github.com/kakserpom/phpdaemon'>phpdaemon</a> Asynchronous server-side framework for network applications implemented in PHP using libevent </li>
<li><a href='https://github.com/paypal/PayPal-PHP-SDK'>PayPal-PHP-SDK</a> Php SDK for PayPal RESTful APIs </li>
<li><a href='https://github.com/esotalk/esoTalk'>esoTalk</a> Fat-free forum software. </li>
<li><a href='https://github.com/vlucas/valitron'>valitron</a> Valitron is a simple, elegant, stand-alone validation library with NO dependencies </li>
<li><a href='https://github.com/jenssegers/laravel-mongodb'>laravel-mongodb</a> A MongoDB based Eloquent model and Query builder for Laravel 4 (Moloquent) </li>
<li><a href='https://github.com/bobthecow/psysh'>psysh</a> A REPL for PHP </li>
<li><a href='https://github.com/cosenary/Instagram-PHP-API'>Instagram-PHP-API</a> An easy-to-use PHP Class for accessing Instagram's API. </li>
<li><a href='https://github.com/nette/nette'>nette</a> Nette Framework </li>
<li><a href='https://github.com/mlively/Phake'>Phake</a> PHP Mocking Framework </li>
<li><a href='https://github.com/yupe/yupe'>yupe</a> Юпи! -  CMS на Yiiframework </li>
<li><a href='https://github.com/chrisboulton/php-resque'>php-resque</a> PHP port of resque (Workers and Queueing) </li>
<li><a href='https://github.com/doctrine/dbal'>dbal</a> Doctrine Database Abstraction Layer </li>
<li><a href='https://github.com/composer/packagist'>packagist</a> Package Repository Website </li>
<li><a href='https://github.com/ruflin/Elastica'>Elastica</a> Elastica is a PHP client for elasticsearch </li>
<li><a href='https://github.com/Bee-Lab/bowerphp'>bowerphp</a> A PHP implementation of bower </li>
<li><a href='https://github.com/phalcon/phalcon-devtools'>phalcon-devtools</a> Phalcon Developer Tools </li>
<li><a href='https://github.com/reactphp/react'>react</a> Nuclear Reactor written in PHP. </li>
<li><a href='https://github.com/q2a/question2answer'>question2answer</a> Question2Answer is a free and open source platform for Q&A sites, running on PHP/MySQL. </li>
<li><a href='https://github.com/Herzult/SimplePHPEasyPlus'>SimplePHPEasyPlus</a> A simple, pragmatic numeric operation api written in PHP. It does addition. </li>
<li><a href='https://github.com/phpbrew/phpbrew'>phpbrew</a> Brew & manage PHP versions in pure PHP at HOME </li>
