<li><a href='https://github.com/Xethron/migrations-generator'>migrations-generator</a> Laravel 4 Migrations Generator: Automatically generate your migrations from an existing database schema. </li>
<li><a href='https://github.com/lisachenko/go-aop-php'>go-aop-php</a> Go! AOP PHP - modern aspect-oriented framework for PHP with rich features such as method interception, dynamic interfaces, dynamic traits and much more for the new level of software development </li>
<li><a href='https://github.com/osclass/Osclass'>Osclass</a> With Osclass, get your own  classifieds site for free. Build your own Osclass installation and start advertising real estate, jobs or whatever you want- in minutes! </li>
<li><a href='https://github.com/gothfox/Tiny-Tiny-RSS'>Tiny-Tiny-RSS</a> A PHP and Ajax feed reader </li>
<li><a href='https://github.com/kohana/core'>core</a> Core system classes from Kohana </li>
<li><a href='https://github.com/tpyo/amazon-s3-php-class'>amazon-s3-php-class</a> A standalone Amazon S3 (REST) client for PHP 5.2.x using CURL that does not require PEAR.  </li>
<li><a href='https://github.com/KnpLabs/KnpSnappyBundle'>KnpSnappyBundle</a> Easily create PDF and images in Symfony2 by converting html using webkit </li>
<li><a href='https://github.com/etrepat/baum'>baum</a> Baum is an implementation of the Nested Set pattern for Laravel's Eloquent ORM. </li>
<li><a href='https://github.com/Sybio/ImageWorkshop'>ImageWorkshop</a> ImageWorkshop is a PHP5.3+ library that helps you to manage images based on GD library </li>
<li><a href='https://github.com/aramk/crayon-syntax-highlighter'>crayon-syntax-highlighter</a> Syntax Highlighter supporting multiple languages, themes, fonts, highlighting from a URL, local file or post text. </li>
<li><a href='https://github.com/leafo/scssphp'>scssphp</a> SCSS compiler written in PHP </li>
<li><a href='https://github.com/banago/PHPloy'>PHPloy</a> PHPloy - Incremental Git FTP/SFTP deployment tool that supports multiple servers, submodules and rollbacks. </li>
<li><a href='https://github.com/brianium/paratest'>paratest</a> Parallel testing for PHPUnit </li>
<li><a href='https://github.com/impresspages/ImpressPages'>ImpressPages</a> ImpressPages is php framework with admin panel. Build functional website in one hour. </li>
<li><a href='https://github.com/bernardphp/bernard'>bernard</a> Bernard is a multi-backend PHP library for creating background jobs for later processing. </li>
<li><a href='https://github.com/virtphp/virtphp'>virtphp</a> virtPHP is a tool to create isolated PHP environments. </li>
<li><a href='https://github.com/vlucas/phpdotenv'>phpdotenv</a> Loads environment variables from `.env` to `getenv()`, `$_ENV` and `$_SERVER` automagically. </li>
<li><a href='https://github.com/doctrine/common'>common</a> Doctrine Common </li>
<li><a href='https://github.com/sdebacker/TypiCMS'>TypiCMS</a> Multilingual CMS built with Laravel 4.2 </li>
<li><a href='https://github.com/CouscousPHP/Couscous'>Couscous</a> Couscous is good. </li>
<li><a href='https://github.com/FriendsOfPHP/pickle'>pickle</a> PHP Extension installer </li>
<li><a href='https://github.com/msgpack/msgpack-php'>msgpack-php</a> msgpack.org[PHP] </li>
<li><a href='https://github.com/FriendsOfPHP/Goutte'>Goutte</a> Goutte, a simple PHP Web Scraper </li>
<li><a href='https://github.com/solariumphp/solarium'>solarium</a> PHP Solr client </li>
<li><a href='https://github.com/bshaffer/oauth2-server-php'>oauth2-server-php</a> A library for implementing an OAuth2 Server in php </li>
<li><a href='https://github.com/josegonzalez/cakephp-upload'>cakephp-upload</a> CakePHP2: handle file uploading sans ridiculous automagic </li>
<li><a href='https://github.com/humanmade/Custom-Meta-Boxes'>Custom-Meta-Boxes</a> Lets you easily create metaboxes with custom fields that will blow your mind.    </li>
<li><a href='https://github.com/semsol/arc2'>arc2</a> ARC RDF Classes for PHP </li>
<li><a href='https://github.com/Behat/Behat'>Behat</a> BDD framework for PHP 5.3+ </li>
<li><a href='https://github.com/cashmusic/platform'>platform</a> A free and open platform giving all musicians access to tools that let them manage, promote, and sell their music online. </li>
