<li><a href='https://github.com/stefanfoulis/django-filer'>django-filer</a> File and Image Management Application for django </li>
<li><a href='https://github.com/kliment/Printrun'>Printrun</a> Pronterface, Pronsole, and Printcore - Pure Python 3d printing host software </li>
<li><a href='https://github.com/git-cola/git-cola'>git-cola</a> git-cola: The highly caffeinated Git GUI </li>
<li><a href='https://github.com/gabrielfalcao/HTTPretty'>HTTPretty</a> HTTP client mocking tool for Python, it's like ruby's FakeWeb for python </li>
<li><a href='https://github.com/zeromq/pyzmq'>pyzmq</a> PyZMQ:  Python bindings for zeromq </li>
<li><a href='https://github.com/kennethreitz/grequests'>grequests</a> Requests + Gevent = <3 </li>
<li><a href='https://github.com/s3tools/s3cmd'>s3cmd</a> Official s3cmd repo -- Command line tool for managing Amazon S3 and CloudFront services </li>
<li><a href='https://github.com/praw-dev/praw'>praw</a> PRAW, an acronym for "Python Reddit API Wrapper", is a python package that allows for simple access to reddit's API. </li>
<li><a href='https://github.com/SmileyChris/easy-thumbnails'>easy-thumbnails</a> Easy thumbnails for Django </li>
<li><a href='https://github.com/spulec/moto'>moto</a> Moto is a library that allows your python tests to easily mock out the boto library </li>
<li><a href='https://github.com/sqlmapproject/sqlmap'>sqlmap</a> Automatic SQL injection and database takeover tool </li>
<li><a href='https://github.com/nvie/pip-tools'>pip-tools</a> A set of tools to keep your pinned Python dependencies fresh. </li>
<li><a href='https://github.com/TooTallNate/node-gyp'>node-gyp</a> Node.js native addon build tool </li>
<li><a href='https://github.com/surfly/gevent'>gevent</a> Coroutine-based concurrency library for Python </li>
<li><a href='https://github.com/SirVer/ultisnips'>ultisnips</a> UltiSnips - The ultimate snippet solution for Vim. Send pull requests to SirVer/ultisnips! </li>
<li><a href='https://github.com/apitrace/apitrace'>apitrace</a> Tools for tracing OpenGL, Direct3D, and other graphics APIs </li>
<li><a href='https://github.com/python-pillow/Pillow'>Pillow</a> The friendly PIL fork </li>
<li><a href='https://github.com/mhagger/git-imerge'>git-imerge</a> Incremental merge for git </li>
<li><a href='https://github.com/trentm/python-markdown2'>python-markdown2</a> markdown2: A fast and complete implementation of Markdown in Python </li>
<li><a href='https://github.com/mailgun/flanker'>flanker</a> Python email address and Mime parsing library </li>
<li><a href='https://github.com/milkbikis/powerline-shell'>powerline-shell</a> A beautiful and useful prompt for your shell </li>
<li><a href='https://github.com/django-mptt/django-mptt'>django-mptt</a> Utilities for implementing a modified pre-order traversal tree in django. </li>
<li><a href='https://github.com/qianlifeng/Wox'>Wox</a> An effective launcher for windows </li>
<li><a href='https://github.com/datafolklabs/cement'>cement</a> CLI Application Framework for Python </li>
<li><a href='https://github.com/burnash/gspread'>gspread</a> Google Spreadsheets Python API </li>
<li><a href='https://github.com/orchardup/fig'>fig</a> Fast, isolated development environments using Docker </li>
<li><a href='https://github.com/JakeWharton/pidcat'>pidcat</a> Colored logcat script which only shows log entries for a specific application package. </li>
<li><a href='https://github.com/benoitc/gunicorn'>gunicorn</a> gunicorn 'Green Unicorn' is a WSGI HTTP Server for UNIX, fast clients and sleepy applications. </li>
<li><a href='https://github.com/django-wiki/django-wiki'>django-wiki</a> A wiki system with complex functionality for simple integration and a superb interface. Store your knowledge with style: Use django models. </li>
<li><a href='https://github.com/erikrose/blessings'>blessings</a> A thin, practical wrapper around terminal capabilities in Python </li>
