<li><a href='https://github.com/aziz/PlainTasks'>PlainTasks</a> An opinionated todo-list plugin for Sublime Text editor (version 2 and 3) </li>
<li><a href='https://github.com/jisaacks/GitGutter'>GitGutter</a> A Sublime Text 2/3 plugin to see git diff in gutter </li>
<li><a href='https://github.com/SublimeText-Markdown/MarkdownEditing'>MarkdownEditing</a> Powerful Markdown package for Sublime Text with better syntax understanding and good color schemes. </li>
<li><a href='https://github.com/Kozea/Radicale'>Radicale</a> A simple CalDAV (calendar) and CardDAV (contact) server. </li>
<li><a href='https://github.com/vandersonmota/model_mommy'>model_mommy</a> Object factory for django </li>
<li><a href='https://github.com/divio/django-shop'>django-shop</a> A Django based shop system </li>
<li><a href='https://github.com/biopython/biopython'>biopython</a> Official git repository for Biopython (converted from CVS) </li>
<li><a href='https://github.com/opsschool/curriculum'>curriculum</a> Ops School Curriculum </li>
<li><a href='https://github.com/gurgeh/selfspy'>selfspy</a> Log everything you do on the computer, for statistics, future reference and all-around fun! </li>
<li><a href='https://github.com/paulhammond/webkit2png'>webkit2png</a> png screenshots of webpages </li>
<li><a href='https://github.com/mininet/mininet'>mininet</a> Emulator for rapid prototyping of Software Defined Networks </li>
<li><a href='https://github.com/nojhan/colout'>colout</a> Color text streams with this simple command </li>
<li><a href='https://github.com/gcollazo/BrowserRefresh-Sublime'>BrowserRefresh-Sublime</a> This plugin will switch from ST2 and ST3 to Google Chrome, Google Chrome Canary, Safari, Firefox or Opera and reload the active tab </li>
<li><a href='https://github.com/taobao/nginx-book'>nginx-book</a> Nginx开发从入门到精通 </li>
<li><a href='https://github.com/PyTables/PyTables'>PyTables</a> PyTables is a package for managing hierarchical datasets and designed to efficiently and easily cope with extremely large amounts of data.  </li>
<li><a href='https://github.com/codelucas/newspaper'>newspaper</a> News extraction, article extraction and content curation in python. Built with multithreading, 10+ languages, NLP, ML, and more! </li>
<li><a href='https://github.com/Kozea/pygal'>pygal</a> PYthon svg GrAph plotting Library </li>
<li><a href='https://github.com/devsnd/cherrymusic'>cherrymusic</a> Stream your own music collection to all your devices! The easy to use free and open-source music streaming server. </li>
<li><a href='https://github.com/mycozycloud/cozy-setup'>cozy-setup</a> Cozy installation files and information </li>
<li><a href='https://github.com/Robot-Will/Stino'>Stino</a> A Sublime Text Plugin for Arduino </li>
<li><a href='https://github.com/Supervisor/supervisor'>supervisor</a> Supervisor process control system for UNIX </li>
<li><a href='https://github.com/dstufft/slumber'>slumber</a> A library that makes consuming a RESTful API easier and more convenient </li>
<li><a href='https://github.com/mariocesar/sorl-thumbnail'>sorl-thumbnail</a> Thumbnails for Django </li>
<li><a href='https://github.com/Bitmessage/PyBitmessage'>PyBitmessage</a>  </li>
<li><a href='https://github.com/joelthelion/autojump'>autojump</a> A cd command that learns - easily navigate directories from the command line </li>
<li><a href='https://github.com/cython/cython'>cython</a> A Python to C compiler </li>
<li><a href='https://github.com/thumbor/thumbor'>thumbor</a> thumbor is an open-source photo thumbnail service by globo.com </li>
<li><a href='https://github.com/freedomofpress/securedrop'>securedrop</a> an open source whistleblower platform </li>
<li><a href='https://github.com/surfly/gevent'>gevent</a> Coroutine-based concurrency library for Python </li>
<li><a href='https://github.com/torchbox/wagtail'>wagtail</a> A new Django content management system </li>
