<li><a href='https://github.com/dfm/osrc'>osrc</a> The Open Source Report Card </li>
<li><a href='https://github.com/dotcloud/zerorpc-python'>zerorpc-python</a>  </li>
<li><a href='https://github.com/racker/falcon'>falcon</a> Falcon is a high-performance Python framework for building cloud APIs and web app backends. </li>
<li><a href='https://github.com/arskom/spyne'>spyne</a> A transport and architecture agnostic RPC library that focuses on exposing services with a well-defined API using popular protocols. </li>
<li><a href='https://github.com/jorgebastida/glue'>glue</a> Glue is a simple command line tool to generate CSS sprites </li>
<li><a href='https://github.com/pybrain/pybrain'>pybrain</a>  </li>
<li><a href='https://github.com/sciyoshi/pyfacebook'>pyfacebook</a> PyFacebook </li>
<li><a href='https://github.com/SublimeLinter/SublimeLinter3'>SublimeLinter3</a> Interactive code linting framework for Sublime Text 3 </li>
<li><a href='https://github.com/django-nose/django-nose'>django-nose</a> Django test runner using nose </li>
<li><a href='https://github.com/hylang/hy'>hy</a> ὑμήνπτερόν </li>
<li><a href='https://github.com/IronLanguages/main'>main</a> Implementations of Python and Ruby programming languages for .NET Framework that are built on top of the Dynamic Language Runtime. </li>
<li><a href='https://github.com/rossp/django-helpdesk'>django-helpdesk</a> A Django application to manage tickets for an internal helpdesk. Formerly known as Jutda Helpdesk. </li>
<li><a href='https://github.com/klen/python-mode'>python-mode</a> Vim python-mode. PyLint, Rope, Pydoc, breakpoints from box. </li>
<li><a href='https://github.com/miracle2k/webassets'>webassets</a> Asset management for Python web development. </li>
<li><a href='https://github.com/cyberdelia/django-pipeline'>django-pipeline</a> Pipeline is an asset packaging library for Django. </li>
<li><a href='https://github.com/mrkipling/maraschino'>maraschino</a> A front-end for HTPCs </li>
<li><a href='https://github.com/coto/gae-boilerplate'>gae-boilerplate</a> Google App Engine Boilerplate </li>
<li><a href='https://github.com/spulec/moto'>moto</a> Moto is a library that allows your python tests to easily mock out the boto library </li>
<li><a href='https://github.com/BrightcoveOS/Diamond'>Diamond</a>  </li>
<li><a href='https://github.com/gurgeh/selfspy'>selfspy</a> Log everything you do on the computer, for statistics, future reference and all-around fun! </li>
<li><a href='https://github.com/poise/python'>python</a> Chef cookbook to install Python and related tools </li>
<li><a href='https://github.com/joonty/vdebug'>vdebug</a> Multi-language DBGP debugger client for Vim (PHP, Python, Perl, Ruby, etc.) </li>
<li><a href='https://github.com/quantmind/pulsar'>pulsar</a> Concurrent python </li>
<li><a href='https://github.com/vandersonmota/model_mommy'>model_mommy</a> Object factory for django </li>
<li><a href='https://github.com/overviewer/Minecraft-Overviewer'>Minecraft-Overviewer</a> Render high-resolution maps of a Minecraft world with a Google Maps powered interface </li>
<li><a href='https://github.com/crsmithdev/arrow'>arrow</a> Better dates & times for Python </li>
<li><a href='https://github.com/Supervisor/supervisor'>supervisor</a> Supervisor process control system for UNIX </li>
<li><a href='https://github.com/Bitmessage/PyBitmessage'>PyBitmessage</a>  </li>
<li><a href='https://github.com/surfly/gevent'>gevent</a> Coroutine-based concurrency library for Python </li>
<li><a href='https://github.com/maraujop/django-crispy-forms'>django-crispy-forms</a> The best way to have DRY Django forms. The app provides a tag and filter that lets you quickly render forms in a div format while providing an enormous amount of capability to configure and control the rendered HTML. </li>
