<li><a href='https://github.com/arsduo/koala'>koala</a> A lightweight, flexible library for Facebook with support for OAuth authentication, the Graph and REST APIs, realtime updates, and test users. </li>
<li><a href='https://github.com/sstephenson/sprockets'>sprockets</a> Rack-based asset packaging system </li>
<li><a href='https://github.com/nanoc/nanoc'>nanoc</a> nanoc is a web publishing system written in Ruby. </li>
<li><a href='https://github.com/fastestforward/heroku_san'>heroku_san</a> Helpful stuffs for Heroku. </li>
<li><a href='https://github.com/crowdint/rails3-jquery-autocomplete'>rails3-jquery-autocomplete</a> An easy and unobtrusive way to use jQuery's autocomplete with Rails 3 </li>
<li><a href='https://github.com/mbleigh/acts-as-taggable-on'>acts-as-taggable-on</a> A tagging plugin for Rails applications that allows for custom tagging along dynamic contexts. </li>
<li><a href='https://github.com/rubycas/rubycas-server'>rubycas-server</a> Provides single sign-on authentication for web applications, implementing the server-end of Jasig's CAS protocol. </li>
<li><a href='https://github.com/jordansissel/fpm'>fpm</a> Effing package management! Build packages for multiple platforms (deb, rpm, etc) with great ease and sanity. </li>
<li><a href='https://github.com/cloudfoundry/bosh'>bosh</a> BOSH </li>
<li><a href='https://github.com/Instagram/instagram-ruby-gem'>instagram-ruby-gem</a> The official gem for the Instagram API </li>
<li><a href='https://github.com/dcparker/ruby-gmail'>ruby-gmail</a> A Rubyesque interface to Gmail. Connect to Gmail via IMAP and manipulate emails and labels. Send email with your Gmail account via SMTP. Includes full support for parsing and generating MIME messages. </li>
<li><a href='https://github.com/assaf/vanity'>vanity</a> Experiment Driven Development for Ruby </li>
<li><a href='https://github.com/fesplugas/typus'>typus</a> Ruby on Rails control panel to allow trusted users edit structured content. </li>
<li><a href='https://github.com/zdennis/activerecord-import'>activerecord-import</a> Extraction of the ActiveRecord::Base#import functionality from ar-extensions for Rails 3 and beyon </li>
<li><a href='https://github.com/NoamB/sorcery'>sorcery</a> Magical authentication for Rails 3 & 4 </li>
<li><a href='https://github.com/antirez/redis-doc'>redis-doc</a> Redis documentation source code for markdown and metadata files, conversion scripts, and so forth </li>
<li><a href='https://github.com/jonleighton/poltergeist'>poltergeist</a> A PhantomJS driver for Capybara </li>
<li><a href='https://github.com/activerecord-hackery/squeel'>squeel</a> Active Record, improved. Not currently maintained. </li>
<li><a href='https://github.com/KKBOX/FireApp'>FireApp</a> Fire.app is a HTML prototyping tool with Sass/Compass/ERB/Haml/Slim/Markdown support </li>
<li><a href='https://github.com/MagLev/maglev'>maglev</a> GemStone Maglev Ruby Repository </li>
<li><a href='https://github.com/github/linguist'>linguist</a> Language Savant. If your repository's language is being reported incorrectly, send us a pull request! </li>
<li><a href='https://github.com/ruhoh/ruhoh.rb'>ruhoh.rb</a>  </li>
<li><a href='https://github.com/josevalim/inherited_resources'>inherited_resources</a> Inherited Resources speeds up development by making your controllers inherit all restful actions so you just have to focus on what is important. </li>
<li><a href='https://github.com/dwilkie/carrierwave_direct'>carrierwave_direct</a> Process your uploads in the background by uploading directly to S3 </li>
<li><a href='https://github.com/shoes/shoes4'>shoes4</a> Shoes 4 : the next version of Shoes </li>
<li><a href='https://github.com/HipByte/RubyMotion'>RubyMotion</a>  </li>
<li><a href='https://github.com/EppO/rolify'>rolify</a> Role management library with resource scoping </li>
<li><a href='https://github.com/jetheredge/SquishIt'>SquishIt</a> Lets you *easily* bundle some css and javascript! Check out the Google group if you have questions! </li>
<li><a href='https://github.com/achiu/consular'>consular</a> Terminal automation </li>
<li><a href='https://github.com/vcr/vcr'>vcr</a> Record your test suite's HTTP interactions and replay them during future test runs for fast, deterministic, accurate tests. </li>
