<li><a href='https://github.com/rack/rack-contrib'>rack-contrib</a> Contributed Rack Middleware and Utilities </li>
<li><a href='https://github.com/Apipie/apipie-rails'>apipie-rails</a> Rails API documentation tool </li>
<li><a href='https://github.com/lotus/lotus'>lotus</a> A complete web framework for Ruby </li>
<li><a href='https://github.com/elabs/pundit'>pundit</a> Minimal authorization through OO design and pure Ruby classes </li>
<li><a href='https://github.com/colszowka/simplecov'>simplecov</a> Code coverage for Ruby 1.9+ with a powerful configuration library and automatic merging of coverage across test suites </li>
<li><a href='https://github.com/rspec/rspec-core'>rspec-core</a> RSpec runner and formatters </li>
<li><a href='https://github.com/CanCanCommunity/cancancan'>cancancan</a> Continuation of CanCan, the authorization Gem for Ruby on Rails. </li>
<li><a href='https://github.com/senchalabs/jsduck'>jsduck</a> Simple JavaScript Duckumentation generator. </li>
<li><a href='https://github.com/kylejginavan/youtube_it'>youtube_it</a> An object-oriented Ruby wrapper for the YouTube GData API </li>
<li><a href='https://github.com/matschaffer/knife-solo'>knife-solo</a> Adds a handful of commands to chef's knife tool that aim to make working with chef-solo as powerful as chef-server. </li>
<li><a href='https://github.com/davetron5000/gli'>gli</a> Make awesome command-line applications the easy way </li>
<li><a href='https://github.com/puma/puma'>puma</a> A ruby web server built for concurrency </li>
<li><a href='https://github.com/mperham/dalli'>dalli</a> High performance memcached client for Ruby </li>
<li><a href='https://github.com/activescaffold/active_scaffold'>active_scaffold</a> Save time and headaches, and create a more easily maintainable set of pages, with ActiveScaffold. ActiveScaffold handles all your CRUD (create, read, update, delete) user interface needs, leaving you more time to focus on more challenging (and interesting!) problems. </li>
<li><a href='https://github.com/vcr/vcr'>vcr</a> Record your test suite's HTTP interactions and replay them during future test runs for fast, deterministic, accurate tests. </li>
<li><a href='https://github.com/thoughtbot/guides'>guides</a> A guide for programming in style. </li>
<li><a href='https://github.com/gazay/gon'>gon</a> Your Rails variables in your JS </li>
<li><a href='https://github.com/jetheredge/SquishIt'>SquishIt</a> Lets you *easily* bundle some css and javascript! Check out the Google group if you have questions! </li>
<li><a href='https://github.com/resque/resque-scheduler'>resque-scheduler</a> A light-weight job scheduling system built on top of resque </li>
<li><a href='https://github.com/seejohnrun/ice_cube'>ice_cube</a> Ruby Date Recurrence Library - Allows easy creation of recurrence rules and fast querying </li>
<li><a href='https://github.com/wesleytodd/YeoPress'>YeoPress</a> A Yeoman generator for WordPress </li>
<li><a href='https://github.com/Arachni/arachni'>arachni</a> Web Application Security Scanner Framework </li>
<li><a href='https://github.com/ruboto/ruboto'>ruboto</a> A platform for developing apps using JRuby on Android. </li>
<li><a href='https://github.com/excon/excon'>excon</a> Usable, fast, simple HTTP 1.1 for Ruby </li>
<li><a href='https://github.com/genesis/wordpress'>wordpress</a> Rapidly create, develop, & deploy WordPress across multiple environments. </li>
<li><a href='https://github.com/everzet/capifony'>capifony</a> Deploying symfony and Symfony2 Applications with Capistrano </li>
<li><a href='https://github.com/markevans/dragonfly'>dragonfly</a> A Ruby gem for on-the-fly processing - suitable for image uploading in Rails, Sinatra and much more! </li>
<li><a href='https://github.com/gitlabhq/gitlab-ci'>gitlab-ci</a> Continuous integration server for gitlabhq | Coordinator </li>
<li><a href='https://github.com/rails-api/active_model_serializers'>active_model_serializers</a> ActiveModel::Serializer implementation and Rails hooks </li>
<li><a href='https://github.com/scambra/devise_invitable'>devise_invitable</a> An invitation strategy for devise </li>
