<li><a href='https://github.com/rharriso/bower-rails'>bower-rails</a> Bundler-like DSL + rake tasks for Bower on Rails </li>
<li><a href='https://github.com/travisjeffery/timecop'>timecop</a> A gem providing "time travel", "time freezing", and "time acceleration" capabilities, making it simple to test time-dependent code. It provides a unified method to mock Time.now, Date.today, and DateTime.now in a single call. </li>
<li><a href='https://github.com/rtomayko/rack-cache'>rack-cache</a> Real HTTP Caching for Ruby Web Apps </li>
<li><a href='https://github.com/lsegal/yard'>yard</a> YARD is a Ruby Documentation tool. The Y stands for "Yay!" </li>
<li><a href='https://github.com/macournoyer/thin'>thin</a> A very fast & simple Ruby web server </li>
<li><a href='https://github.com/mileszs/wicked_pdf'>wicked_pdf</a> PDF generator (from HTML) plugin for Ruby on Rails </li>
<li><a href='https://github.com/brigade/scss-lint'>scss-lint</a> Configurable tool for writing clean and consistent SCSS </li>
<li><a href='https://github.com/bmabey/email-spec'>email-spec</a> Collection of RSpec/MiniTest matchers and Cucumber steps for testing email in a ruby app using ActionMailer or Pony </li>
<li><a href='https://github.com/pearkes/tugboat'>tugboat</a> A command line tool for interacting with your DigitalOcean droplets. </li>
<li><a href='https://github.com/rroblak/seed_dump'>seed_dump</a> Rails 4 task to dump (parts) of your database to db/seeds.rb </li>
<li><a href='https://github.com/weppos/whois'>whois</a> An intelligent pure Ruby WHOIS client and parser. </li>
<li><a href='https://github.com/capistrano/sshkit'>sshkit</a> A toolkit for deploying code and assets to servers in a repeatable, testable, reliable way. </li>
<li><a href='https://github.com/norman/friendly_id'>friendly_id</a> FriendlyId is the “Swiss Army bulldozer” of slugging and permalink plugins for ActiveRecord. It allows you to create pretty URL’s and work with human-friendly strings as if they were numeric ids for ActiveRecord models. </li>
<li><a href='https://github.com/guard/guard'>guard</a> Guard is a command line tool to easily handle events on file system modifications. </li>
<li><a href='https://github.com/realm/jazzy'>jazzy</a> Soulful docs for Swift & Objective-C </li>
<li><a href='https://github.com/neo4jrb/neo4j'>neo4j</a> An active model wrapper for the Neo4j Graph Database for Ruby. </li>
<li><a href='https://github.com/Shopify/identity_cache'>identity_cache</a> IdentityCache is a blob level caching solution to plug into ActiveRecord. Don't #find, #fetch! </li>
<li><a href='https://github.com/mperham/dalli'>dalli</a> High performance memcached client for Ruby </li>
<li><a href='https://github.com/celluloid/celluloid-io'>celluloid-io</a> Evented sockets for Celluloid actors </li>
<li><a href='https://github.com/radar/forem'>forem</a> The best Rails 3 and Rails 4 forum engine. Ever. </li>
<li><a href='https://github.com/pradels/vagrant-libvirt'>vagrant-libvirt</a> Vagrant provider for libvirt. </li>
<li><a href='https://github.com/ruby-concurrency/concurrent-ruby'>concurrent-ruby</a> Modern concurrency tools including agents, futures, promises, thread pools, supervisors, and more. Inspired by Erlang, Clojure, Scala, Go, Java, JavaScript, and classic concurrency patterns. </li>
<li><a href='https://github.com/maxlapshin/mysql2postgres'>mysql2postgres</a> Mysqldump, writing in postgresql format </li>
<li><a href='https://github.com/defunkt/gist'>gist</a> Potentially the best command line gister. </li>
<li><a href='https://github.com/interagent/prmd'>prmd</a> JSON Schema tools and doc generation for HTTP APIs </li>
<li><a href='https://github.com/activescaffold/active_scaffold'>active_scaffold</a> Save time and headaches, and create a more easily maintainable set of pages, with ActiveScaffold. ActiveScaffold handles all your CRUD (create, read, update, delete) user interface needs, leaving you more time to focus on more challenging (and interesting!) problems. </li>
<li><a href='https://github.com/tldr-pages/tldr'>tldr</a> Simplified and community-driven man pages </li>
<li><a href='https://github.com/paulelliott/fabrication'>fabrication</a> Implementing the factory pattern in Ruby so you don't have to. </li>
<li><a href='https://github.com/calabash/calabash-ios'>calabash-ios</a> Calabash for iOS </li>
<li><a href='https://github.com/fgrehm/vagrant-lxc'>vagrant-lxc</a> LXC provider for Vagrant </li>
