<li><a href='https://github.com/chris-morgan/rust-http'>rust-http</a> Rust HTTP library (server and client) [obsolete but still maintained until teepee/teepee is ready] </li>
<li><a href='https://github.com/uutils/coreutils'>coreutils</a> Cross-platform Rust rewrite of the GNU coreutils </li>
<li><a href='https://github.com/PistonDevelopers/piston'>piston</a> A user friendly game engine written in Rust </li>
<li><a href='https://github.com/crabtw/rust-bindgen'>rust-bindgen</a> binding generator for rust language </li>
<li><a href='https://github.com/dobkeratops/rustfind'>rustfind</a> rust html source code browser generator, rust source code navigator, possible component for IDE ?  Example output - see rust compiler source & std libs:- </li>
<li><a href='https://github.com/hackndev/zinc'>zinc</a> The bare metal stack for rust </li>
<li><a href='https://github.com/japaric/rust-by-example'>rust-by-example</a> Learn Rust with practical examples </li>
<li><a href='https://github.com/steveklabnik/rust_for_rubyists'>rust_for_rubyists</a> Learn Rust </li>
