---
path_prefix: ../
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find potential GitHub projects to contribute to.">
    <link rel="stylesheet" href="../css/main-grid.css">
    <link rel="stylesheet" href="../css/layouts/main.css">
    <link rel="stylesheet" href="../css/layouts/additional.css">

    <title>dispatcher</title>

    {% include stylesheets %}
  </head>

  <body>

    {% include header.html %}
    <div class="l-box-lrg">
      <div class="content">
        {{ content }}
      </div>

    </div>

    <div class="footer l-box is-center">
      Last updated {{ site.time | date_to_string }}<br>
      Results are a randomized selection from a list of potential matches.<br>
    </div>
  </body>
</html>
